
/***************************/
/* 0.1. common classes */
/***************************/
.content-container{
    max-width:1700px;
    width:100%;
    margin:auto;
    background-color: $white-main;
       box-shadow:$basic-shadow;
       overflow:hidden;
       position:relative;
       .preloader-js{
           position:absolute;
           top:0;
           left:0;
           width:100%;
           height:100%;
           backdrop-filter: blur(15px);
           z-index:9;
           .preloader-area{
               position:absolute;
               top:0;
               left:0;
               width:100%;
               height:100%;
               .preloader_img{
                   img{
                       animation: preloadRotate 750ms 300ms infinite;
                       -webkit-animation: preloadRotate 750ms 300ms infinite;
                       width:100px;
                       height:100px;
                   }			
               }
           }
       }
    .content-inner{
     max-width:1121px;
     width:100%;
	 min-height:100vh;
     margin:auto;
     padding:40px 20px;
    } 
   }
   @keyframes preloadRotate {
       to {
                   @include transform-rotate(180deg);
       }
   }
.b-r-5{
@include b-radius(5px);
}
.b-r-8{
@include b-radius(8px);
}
.b-r-50{
	@include b-radius(50%);
}
.cursor-pointer{
	cursor:pointer;
}
.overflow-hidden{
	overflow: hidden;
}
/*==========<Colors>============*/
.text-blue{
	color:$blue-light;
}
.text-red-light{
	color:#FF7575;
}
/*====X=====</Colors>======X====*/
/* =======<Hover Design>===========*/
.scale_hover_half{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.05);
	}
}
.scale_hover_1{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.1);
	}
}
.scale_hover_2{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.2);
	}
}
.t_shadow_scale_1{
	@include transition-all(0.3s);
	&:hover{
		@include text-shadow-scale($text-shadow, 1.1);
	}
}
.t_shadow_scale_2{
	@include transition-all(0.3s);
	&:hover{
		@include text-shadow-scale($text-shadow2, 1.2);
	}
}
.shadow_hover_1{
	@include transition-all(0.3s);
	&:hover{
		@include box-shadow(2px 2px 11px -3px rgba(0,0,0,0.5) !important);
	}
}
.blue_btn_hover{
	@include transition-all(0.2s);
	&:hover{
		background-color:$white-main !important;
		color:$blue-light !important;
		@include box-shadow(1px 1px 11px -3px rgba(0,0,0,0.5) !important);
	}
}
/* ===X====</Hover Design>=====X======*/

/* =======</button design>===========*/

[class*="btn-"], [class*="-btn"],button{
	cursor:pointer;
} 
.btn-transparent,.btn-transparent:focus,.btn-transparent:active{
	background-color: transparent;
	outline:0 !important;
	box-shadow: none !important;
	border-width:0 !important;
}
.blue_btn{
	background-color:$blue-light;
	display:inline-block;
	padding:3px 10px;
	@include b-radius(5px);
	color:$white;
	white-space: nowrap;
	user-select: none;
	font-size: 15px;
    line-height: 2;
}
.green_lime_btn{
	background-color: $green-limeBtn;
    color: $white-main;
    padding: 8px 22px;
    display: inline-block;
	@include b-radius(5px);
	font-size: 15px;
	min-width:134px;
}
.red_gradient_btn{	
	background: linear-gradient(180deg, rgba(226, 172, 66, 0.7) 0%, rgba(226, 66, 66, 0.7) 100%);
	color: $white-main;
    padding: 8px 22px;
    display: inline-block;
	@include b-radius(5px);
	font-size: 15px;
	min-width:134px;
}
.id_tab {
    background-color: $blue-light;
    color: $white-main;
    padding: 5px 25px;
	@include b-radius(20px);
    font-size: 15px;
	display:inline-block;
}
.icon_btn_blue{
	background-color:$blue-light;
	color:$white;
	font-size:15px;
	font-weight: 300;
	padding:8px 10px;
	@include b-radius(5px);
	.mdi{
		font-size: 20px;
		line-height: 1;
		padding-right: 10px;
		position: relative;
		top: 3px;
	}
}
.icon_btn_outline{
	padding: 3px 18.5px;
	color:$blue-light;
	border: 1px solid $blue-light !important;
	@include b-radius(25px);
	display: inline-block;	
	background-color: transparent;	
	@include transition-all(0.3s);
	.btnText{
		line-height: 2;
	}	
	.mdi{
		font-size:20px;
		position:relative;
		top:2px;
	}
	&:hover{
		background-color: $blue-light;
		color:$white-main;
	}
	&:focus{
		border: 1px solid $blue-light !important;
	}	
}

.collapseExpandBtn{
	background-color: $blue-opacity;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	@include b-radius(50%);
	color:$blue-light;
	font-size:20px;
	@include transition-all(0.3s);
	@include transform-rotate(180deg);
	&.collapsed{
		@include transform-rotate(0deg);
	}
	.mdi{
		position: relative;
		left: -2px;
	}
}
/* ===X====</button design>=====X======*/
.z-index-1{
	z-index:1;
}
.line-through{
	text-decoration: line-through;
}
.blue_border{
	border:1px solid $blue-opacity;
	padding:15px;
	@include b-radius(5px);
	h3{
		color:$black;
		font-size: 18px;
	}
}


/*==Background Icon with Text Data==*/
.bg_icon_div{
	max-width:155px;
	width:100%;
	margin:10px auto;
	position:relative;
	text-align:center;
	.bg_icon{
		color: $blue-opacity;
		font-size:70px;
		position:absolute;
		.mdi-link-variant{
			position:relative;
			left:15px;
		}
	}
	.bg_num, .bg_foot{
		position: relative;
		z-index:1;
	}
	.bg_num{
		font-size:30px;
		top:50px;
		span{
			font-size:18px;
			color:$black-main;
			font-weight:bold;
		}
	}
	.bg_foot{
		margin-top:50px;
	}
}
/*==X==Background Icon with Text Data==X==*/
.active_text{
	&:not(:first-child){
		display:none;
	}
}
.active_qoute{
	&:not(:last-child){
		display:none;
	}
}

/*=====================*/
/*ALL input type custom css here*/
/*==================*/
.appearance-none{
	appearance: none;
	display:none;
	width:0px;
	height:0px;
	opacity: 0;
	overflow: hidden;
}
/*=====Custom Select Box design====*/
.nice-select{
	border: solid 1px $blue-light;
	color:$blue-light;
	font-family: $font-nunito;
	font-size: 12px;
	$height: 36px;
	height: $height;
	line-height: $height;
	float:none;		
	&.open, &:active, &:focus, &:hover{
		border: solid 1px $blue-light;		
	}
	&.open{		
		@include b-radius(5px 5px 0px 0px);
	}
	&::after {
		border-bottom: 2px solid $blue-light;
		border-right: 2px solid $blue-light;
		height: 7px;
		width: 7px;
	}	
	&:hover{
		@include box-shadow(1px 1px 8px -3px rgba(0,0,0,0.5));	
	}
	.list {
		@include b-radius(0px 0px 5px 5px);
		box-shadow: 0 0 0 1px $blue-light;
		margin-top: 2px;
		width: 100%;
		li{
			&.option{
				line-height: $height;
   				min-height: $height;
			}
			&.option.focus{
				background-color:$white-main;
			}
			&.option:hover{
				background-color:$blue-light;
				color:$white-main
			}	
		}
	}	
	&.white_select {
		border: solid 1px $white-main;
		color:$gray;	
		background-color:$white-main;
		&.open, &:active, &:focus, &:hover{
			border: solid 1px $gray;		
		}
		&::after {
			border-bottom: 2px solid $gray;
			border-right: 2px solid $gray;
			height: 7px;
		}
		.list {
			box-shadow: 0 0 0 1px $gray;
			li{
				&.option:hover{
					background-color:$blue-light;
					color:$white-main;
					
				}	
			}
		}

	}
	&.gray_select {
		border: solid 1px $gray-light1;
		color:$gray;	
		background-color:$gray-light1;
		&.open, &:active, &:focus, &:hover{
			border: solid 1px $gray;		
		}
		&::after {
			border-bottom: 2px solid $gray;
			border-right: 2px solid $gray;
			height: 7px;
		}
		.list {
			box-shadow: 0 0 0 1px $gray;
			li{
				&.option:hover{
					background-color:$blue-light;
					color:$white-main;
					
				}	
			}
		}
	}
	// the select menu show bottom to top
	&.reverse_select{
		&.open{
			 @include b-radius(0px 0px 5px 5px);
		}
		.list{
			top:auto;
			bottom:100%;
			margin:0;
			@include b-radius(5px 5px 0px 0px);
		}
	}
	// big-width 232px;
	&.big_select{
		width:232px;
	}
	//bigger select | height 46px, font-size 15px
	&.bigger_select{
		height: 46px;
		font-size: 15px;
		line-height: 46px;
		font-weight: 300;
	}
}
/*==X===Custom Select Box design==X==*/
/*=== Search box common design=== */
.search_box{
	max-width: 317px;
    width: 100%;
	.search_area{
		max-width:317px;
		width:100%;
		.search{
			height:36px;
			@include b-radius(5px 0 0 5px);
			max-width:100%;
			background-color:#ffffff !important;
			padding: 10px;
			font-size: 15px;
			width: 100%;
			&::placeholder{
				color:$gray;
				font-size:15px;
				font-weight:300;
			}
		}
		.search_btn{
			background-color:$blue-light;
			cursor:pointer;
			@include b-radius(0 5px 5px 0);
			width:80px;
			&:hover{
				background-color:$blue-normal;
			}
		}
	}
}
/*==X= Search box common design==X= */
/*====Switch Icon Design====*/
.switch_icon{
	.s_icon_area{
		input[type="checkbox"]{
			width:0px;
			height:0px;
			opacity:0;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
				appearance: none;
			display:none;
			&~.switch_container .create_switch{
				min-width:44px;
				height:25px;
				@include b-radius(25px);
				background-color: $red-light;
				position:relative;
				@include transition-all(0.3s);
				overflow:hidden;
				cursor: pointer;
				&::after{
					content:'';
					width:21.5px;
					height:21.5px;								
					background-color: $white-main;
					position:absolute;
					left:2px;
					top:2px;
					@include b-radius(50%);
					@include transition-all(0.3s);
					@include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.5));
				}
			}
			&:checked~.switch_container .create_switch{
				background-color: $blue-light;
				&::after{
					left:calc(100% - 23.5px);
				}
			}
		}
		.s_text{
			padding-left:10px;
			font-size:20px;
			color:$blue-bold;
			font-weight:600;
		}
	}
}
/*==X==Switch Icon Design==X==*/
/*====Switch Icon Small Design====*/
.switch_icon_small{
	overflow: hidden;
	text-align: left;
	label{
		display:block;
		cursor:pointer;
		float: left;
		input{
			&~.switch_create{
				width:34px;
				height:20px;
				background-color: #CBCBCB;
				@include b-radius(20px);
				display:block;
				position:relative;
				@include transition-all(0.3s);
				overflow: hidden;
				&::before{
					content:'';
					width:18px;
					height:18px;
					@include b-radius(50%);
					background-color: #fff;
					display: inline-block;
					margin-top: 1px;
					margin-left: 1px;
					@include transition-all(0.3s);
					@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.5));
				}
			}
			&:checked ~ .switch_create{
				background-color: #47B4EA;
				&::before{
					margin-left: 15px;
				}
			}
		}
	}
	.swich_text{
		display: block;
		float: left;
		font-size:15px;
		padding-left: 10px;
	}
}
/*==X==Switch Icon Small Design==X==*/
/*=====Check box design======*/
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0px;
		left: 0;
		height: 20px;
		width: 20px;
		background-color:$black-light;
		@include b-radius(5px);
	}
	input:checked ~ .checkmark {
		background-color: $green-limeBtn;
	}
	.checkmark:after {
		content: '';
		position: absolute;
		left: 6px;
		top: 9px;
		width: 8px;
		height: 2px;
		border: 1px solid white;
	}
	input:checked ~ .checkmark:after {
		display: block;
		left: 7px;
		top: 4px;
		width: 6px;
		height: 9px;
		border: solid #ffffff;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&.checkText-big{
		font-size:18px;
		line-height:1.1;
	}
	&.checkText-small{
		font-size:13px;
		line-height:1.6;
	}
}
/*===X==Check box design===X===*/
/*====== custom input[type="number"]====*/
.incrementDcrement{
	width:auto;
	.increDecre_inner{		
		position:relative;
		input{
			width:100%;	
			position: relative;	
			appearance: none;
			z-index: 1;
		}
		.increDecreBtn{			
			background-color: $gray-light1;		
			position: absolute;
			right: 8px;
			top:17px;		
			z-index: 2;
			padding: 3px 10px;
			&::after{			
				content: '';
				border-bottom: 2px solid $gray;
				border-right: 2px solid $gray;
				height: 7px;
				width: 7px;
				display: block;
				pointer-events: none;
				// @include transform-origin(66% 66%);
				@include transform-rotate(225deg);
				position:relative;
			}
			&.incrementBtn{
				margin-top:-5px;
			}
			&.decrementBtn{
				margin-top:5px;
				&::after{
					@include transform-rotate(45deg);
				}
			}
		}
	}
	
}
/*====== custom input[type="number"]====*/


.responsive_alert{
	font-size:12px;
	display:none
}
/*========= Modal Design=======*/
.modal{
	.modal-dialog {
		max-width: 645px;
		.modal-content{			
			background: linear-gradient(180deg, $blue-light 0%, $blue-bold 100%);
			border:none;
			color:$white;	
			@include b-radius(10px);
			overflow:hidden;		
			.close{
				position: absolute;
				right:20px;
				top:20px;
				width:35px;
				height:35px;
				line-height:35px;
				background-color:rgba(231, 231, 231, 0.6);
				@include b-radius(50%);
				color:$white;
				opacity:1;
				z-index:2;
				font-size:23px;
				&:hover{
					background-color:rgba(231, 231, 231, 0.3);
				}
			}
			.modal-body{
				position:relative;
				z-index:1;
				h4{
					font-size:30px;
				}
				p{
					font-size:20px;
				}
			}
			.modal-footer{
				justify-content: center;				
				.cancelBtn,.deleteYesBtn,.saveBtn{
					position:relative;
					z-index:1;
					max-width:185px;
					height:60px;
					width:100%;
					padding:10px 20px;
					font-size:20px;
					color:$white;
					@include b-radius(5px);
					overflow:hidden;
					@include transition-all(0.3s);
					border:4px solid transparent !important;
					&:hover{
						background-color: transparent;
					}	
				}
				.cancelBtn{
					background-color: $red-light;
					&:hover{						
						border-color: $red-light !important;
						// color:$red-light;
					}
				}
				.deleteYesBtn,.saveBtn{
					background-color: $green-limeBtn;
					&:hover{
						background-color: transparent;
						border-color: $green-limeBtn !important;
						// color: $green-limeBtn
					}
				}
				.saveBtn{
					padding: 0px 22px;
					max-width: 215px;
					height: 70px;
					line-height: 70px;
				}
			}
			.modal_bg_icon {
				position: absolute;
				left: -47px;
				bottom: -28px;
				font-size: 290px;
				line-height: 1;
				color: rgba(196, 196, 196, 0.1);
			}
		}
	}
	.modal-header,.modal-footer{
		border:none;
	}
	&.modal-transparent{
		.modal-dialog{
			.modal-content{
				background:transparent;				
				@include b-radius(0px);
			}
		}

	}
}
/*===X====== Modal Design===X====*/
/*===Table Common Design====*/
.table_container{
	table{
		border-collapse: separate;
		border-spacing: 0;
		table-layout: fixed;
		background: $gray-light1;
		@include b-radius(5px);
		padding:5px;
		tr{
			th,td{				
				height: 63px;
				font-weight:300;
				overflow-wrap: break-word;
			}
			th{
				font-size:15px;
				border:none;
				position:relative;
				&::after{
					content:'';
					width:100%;
					display:block;
					height:2px;
					position:absolute;
					bottom:10px;
					left:0;
					background-color: $blue-opacity;
				}
			}
			td{
				background: $white-main;
				@include b-radius(8px);
				padding: 7px;
				font-size:15px;
				border: 2px solid $gray-light1;				
				@include transition-all(0.3s);
				// .mdi means material design icon
				.mdi{
					font-size:20px;
					color:$blue-black;
					&:hover{
						color:$blue-dark;
					}					
				}
				.red_alert,.red_alert .mdi{
					color:$red-light;
				}
				.green_alert,.green_alert .mdi{
					color:$green-lime;
				}
				.yellow_alert, .yellow_alert .mdi{
					color:$yellow;
				}
			}
			&:hover td{
				background: $blue-opacity;
			}
		}
	}
	//Table bottom functionality  
	.table_bottom{	
		padding:8px;		
		.file_btn{
			width:48px;
			min-width:48px;
			height:40px;
			line-height:40px;
			font-size:20px;
			text-align:center;
			@include b-radius(25px);
			background-color:$white-main;
			color:$blue-light;
			display:inline-block;							
		}
		.entries p{
			color:$black-light;
		}			
		.show_entries{
			min-width:170px;
			font-size: 14px;
			color:$black-gray;
			@include b-radius(3px);		
			font-weight: 300;				
		}
	}
}
/*===X==Table common Design ===X====*/

/*========= chart.js common style ======*/
.chart_container{
	border:1px solid $blue-opacity;
	padding:20px 10px 0px 10px;
	@include b-radius(5px);
	h3{
		padding-left:10px;
		padding-bottom:10px;
		color:$black;
		font-size: 18px;
	}
	.chart_buttons{
		.rotate_btn{
			color:$blue-light;
			font-size: 35px;
			@include transition-all(0.3s);
			&:hover{
				@include transform-rotate(45deg);
			}
			&.rotate-focus:focus{
				@include transform-rotate(360deg);	
			}
		}
		.selectBtn{
			position:relative;
			width: 94px;
			height: 39px;
			display: inline-block;
			cursor:pointer;
			select{
				color:$blue-light;
				padding: 5px 26px 5px 10px;
				border: 1px solid $blue-light !important;
				background-image: url(../img/icons/arrow-down.png);
				background-repeat: no-repeat;
    			background-size: 13px;
				background-position: calc(100% - 4px) 13px;
				@include b-radius(5px);	
				@include transition-all(0.3s);
				cursor:pointer;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-o-appearance: none;				
				&:hover{
					background-color: $blue-light !important;
					background-position: calc(100% - 4px) 4px;
					color:$white-main;
				}
			}			
		}		
	}	
}
ul.pieLegend{
	padding:10px 10px 0px 10px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	li{
		max-width:205px;
		width:100%;
		flex-basis: 50%;
		display:flex;
		align-items:flex-start;
		justify-content:flex-start;
		padding:5px;
		cursor:pointer;
		@include transition-all(0.3s);
		&:hover{
			text-shadow:1px 0px 3px rgba(0,0,0,0.5);
		}
		span.rec_Lgnd{
			margin-right:5px;
			width:17px;
			min-width:17px;
			height:15px;
			@include b-radius(5px);
		}
		p{
			font-size:12px;
			position:relative;
			top:-2px;			
			span.chart-data{
				font-size:9px;
				margin-top:3px;
			}
		}
	}
}
/*Chart Js additional data remove*/
ul.pieLegend li:not(.anjon){
	display:none !important;
}
/*=====X==== chart.js common style ===X===*/

/*==========Full Screen Icon Design=========*/
.full-screen-wrap {
	min-width: 24px;
	width:24px;
	height: 24px;
	position: relative;
	cursor: pointer;
	.fs-bar{
		width: 2px;
		height: 8px;
		background: mintcream;
		position: absolute;
		transition: all 0.5s ease-in-out;
		&.top-left-horiz, &.top-right-horiz, &.bottom-left-horiz, &.bottom-right-horiz {
			width: 8px;
			height: 2px;
		}
		&.top-left, &.top-left-horiz {
			top: 0;
			left: 0;
		}
		&.top-right, &.top-right-horiz {
			top: 0;
			right: 0;
		}
		&.bottom-left, &.bottom-left-horiz {
			bottom: 0;
			left: 0;
		}
		&.bottom-right, &.bottom-right-horiz {
			bottom: 0;
			right: 0;
		}
		&.animMoveDown {
			transform: translateY(7px);
		}
		&.animMoveUp {
			transform: translateY(-7px);
		}
		&.animMoveLeft {
			transform: translateX(-7px);
		}
		&.animMoveRight{
			transform: translateX(7px);
		}
	}
}

.bottom-bar {
	width: 100%;
	background: #34495e;
	height: 60px;
	position: relative;
	bottom: 0;
}

/*==========End of Full Screen Icon Design=========*/
/*=======Custom Scroll bar 8px======*/
.custom-scroll-bar-8{
		//  width 
	&::-webkit-scrollbar {
		width: 8px;
	}
	// Track 
	&::-webkit-scrollbar-track {
		background-color: #E3EAEF;
		@include b-radius(8px);
	}
	// Handle 
	&::-webkit-scrollbar-thumb {
		background: #BAD4E5; 
		@include b-radius(8px);
	}
	// Handle on hover 
	&::-webkit-scrollbar-thumb:hover {
		background:  $blue-light; 
	}
}
/*===X====Custom Scroll bar 8px====X==*/
/*=======Custom Scroll bar 15px======*/
.custom-scroll-bar-15{
		//  width 
	&::-webkit-scrollbar {
		width: 15px;
	}
	// Track 
	&::-webkit-scrollbar-track {
		background-color: #E3EAEF;
		@include b-radius(15px);
	}
	// Handle 
	&::-webkit-scrollbar-thumb {
		background: #BAD4E5; 
		@include b-radius(15px);
		width:13px;
	}
	// Handle on hover 
	&::-webkit-scrollbar-thumb:hover {
		background:  $blue-light; 
	}
}

/*====X===Custom Scroll bar 15px===X===*/