
/***************************/
/* 0.1. common classes */
/***************************/
.content-container{
    max-width:1700px;
    width:100%;
    margin:auto;
    background-color: $white;
       box-shadow:$basic-shadow;
       overflow:hidden;
       position:relative;
       .preloader-js{
           position:absolute;
           top:0;
           left:0;
           width:100%;
           height:100%;
           backdrop-filter: blur(15px);
           z-index:9;
           .preloader-area{
               position:absolute;
               top:0;
               left:0;
               width:100%;
               height:100%;
               .preloader_img{
                   img{
                       animation: preloadRotate 750ms 300ms infinite;
                       -webkit-animation: preloadRotate 750ms 300ms infinite;
                       width:100px;
                       height:100px;
                   }			
               }
           }
       }
    .content-inner{
     max-width:1100px;
     width:100%;
     margin:auto;
     padding:20px;
    } 
   }
   @keyframes preloadRotate {
       to {
                   @include transform-rotate(180deg);
       }
   }
.b-r-5{
@include b-radius(5px);
}
.b-r-8{
@include b-radius(8px);
}
.b-r-50{
	@include b-radius(50%);
}
[class*="btn-"], [class*="-btn"],button{
	cursor:pointer;
} 
.btn-transparent{
	background-color: transparent;
}
.scale_hover_half{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.05);
	}
}
.scale_hover_1{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.1);
	}
}
.scale_hover_2{
	@include transition-all(0.3s);
	&:hover{
		@include transform-scale(1.2);
	}
}
.t_shadow_scale_1{
	@include transition-all(0.3s);
	&:hover{
		@include text-shadow-scale($text-shadow, 1.1);
	}
}
.t_shadow_scale_2{
	@include transition-all(0.3s);
	&:hover{
		@include text-shadow-scale($text-shadow2, 1.2);
	}
}
.z-index-1{
	z-index:1;
}
/*==========Full Screen Icon Design=========*/
.full-screen-wrap {
	min-width: 24px;
	width:24px;
	height: 24px;
	position: relative;
	cursor: pointer;
	.fs-bar{
		width: 2px;
		height: 8px;
		background: mintcream;
		position: absolute;
		transition: all 0.5s ease-in-out;
		&.top-left-horiz, &.top-right-horiz, &.bottom-left-horiz, &.bottom-right-horiz {
			width: 8px;
			height: 2px;
		}
		&.top-left, &.top-left-horiz {
			top: 0;
			left: 0;
		}
		&.top-right, &.top-right-horiz {
			top: 0;
			right: 0;
		}
		&.bottom-left, &.bottom-left-horiz {
			bottom: 0;
			left: 0;
		}
		&.bottom-right, &.bottom-right-horiz {
			bottom: 0;
			right: 0;
		}
		&.animMoveDown {
			transform: translateY(7px);
		}
		&.animMoveUp {
			transform: translateY(-7px);
		}
		&.animMoveLeft {
			transform: translateX(-7px);
		}
		&.animMoveRight{
			transform: translateX(7px);
		}
	}
}

.bottom-bar {
	width: 100%;
	background: #34495e;
	height: 60px;
	position: relative;
	bottom: 0;
}
/*==========End of Full Screen Icon Design=========*/
/****Custom Scroll Bar Design*****/
.custom-scroll-bar{
		//  width 
	&::-webkit-scrollbar {
		width: 8px;
	}
	// Track 
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 4px rgba(17, 17, 17, 0.445);
		@include b-radius(2.5px);
	}
	// Handle 
	&::-webkit-scrollbar-thumb {
		background: rgba(1, 13, 19, 0.644); 
		@include b-radius(4px);
	}
	// Handle on hover 
	&::-webkit-scrollbar-thumb:hover {
		background:  rgba(11, 61, 87, 0.808); 
	}
}