
//mixins
@mixin b-radius($values){
	border-radius:$values;
	-webkit-border-radius:$values;
	-moz-border-radius:$values;
	-ms-border-radius:$values;
	-o-border-radius:$values;
}
@mixin transform-translate-50{
 transform:translate(-50%, -50%);
 -webkit-transform:translate(-50%, -50%);
 -moz-transform:translate(-50%, -50%);
 -ms-transform:translate(-50%, -50%);
 -o-transform:translate(-50%, -50%);
 left:50%;
 top:50%;
}
@mixin transform-translate-topCenter{
	top:50%;
	transform: translateY(-50%);
}
@mixin transform-translate-custom($xaxis,$yaxis){
	transform:translate($xaxis,$yaxis);
	-webkit-transform:translate($xaxis,$yaxis);
	-moz-transform:translate($xaxis,$yaxis);
	-ms-transform:translate($xaxis,$yaxis);
	-o-transform:translate($xaxis,$yaxis);
}
@mixin transform-scale($scale){
	transform:scale($scale);
	-webkit-transform:scale($scale);
	-moz-transform:scale($scale);
	-ms-transform:scale($scale);
	-o-transform:scale($scale);
}
@mixin transform-rotate($rotate){
	transform:rotate($rotate);
	-webkit-transform:rotate($rotate);
	-moz-transform:rotate($rotate);
	-ms-transform:rotate($rotate);
	-o-transform:rotate($rotate);
}
@mixin transition-all($gettr) {
	transition:$gettr;
	-webkit-transition:$gettr;
	-moz-transition:$gettr;
	-ms-transition:$gettr;
	-o-transition:$gettr;
}
@mixin box-shadow($value){
	box-shadow: $value;
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	-o-box-shadow: $value;
}
@mixin text-shadow($value){
	text-shadow: $value;
}
@mixin text-shadow-scale($value, $scale){
	@include text-shadow($value);
	@include transform-scale($scale);
}
@mixin gradientTopBottom($value1, $value2){
	background:linear-gradient(180deg, $value1 0%, $value2 100%)
}

// Ordering HTML Legend for Pie Charts: label Data=6

@mixin ordering_html_legend_6(){
	ul.pieLegend{
		li{
			&:nth-child(6){
				order:6
			}
			&:nth-child(5){
				order:1
			}
			&:nth-child(4){
				order:3
			}
			&:nth-child(3){
				order:5
			}
			&:nth-child(2){
				order:2
			}
			&:nth-child(1){
				order:4
			}
		}
	}
}
