@media print{
    // body *{
    //     visibility: visible;
    // }
    // .modal-content, .modal-content *{
    //     visibility: visible;
    //     position:fixed;
    //     top:0px;
    //     right:-250px;
    //     width:900px;
    //     height: auto;
    // }
    .coupon_info{
        margin-top:200px;
		max-width:378px;
		width:100%;
        @include transform-scale(1.5);
		.couponIcon{
			font-size:50px;
			line-height:1;
		}
		.logo{
			max-width:220px;
			width:100%;
		}
		h3{
			font-size: 20px;
		}
		.couponUpdate{
			max-width:299px;
			width:100%;
			background:url('../img/bg_images/coupon-bg.png');
			background-repeat: no-repeat;
			.discount{
				font-size:48px;
				line-height:1;
				span{
					padding:0;
					margin:0;
					&#disSymbol{
						margin-left:-12px;
					}
				}
			}
			p{
				font-size:14px;
				font-weight:200;
				color:$black-main;
			}
			.discountCode{
				font-size:48px;
			}
		}
		.fromUntilTime{
			text-align: right;
			max-width:240px;
			width:100%;
			&::before{
				content: '';
				width:50px;
				height:2px;
				display:block;
				background-color: rgba(0, 0, 0, 0.1);;
				margin:10px auto;
			}
			.cdtTitle {
				min-width: 60px;
			}			
		}
		.qr-code-area{
			background-color: $gray-light1;
			padding:15px 15px 3px 15px;
			.qr-code-text{
				font-size:12px;
				color:$gray-2;
				font-weight:200;
			}
			.qr-code{
				min-width:60px;
			}
			.qrFootText{
				font-size:5px;
				font-weight:300;
			}
		}
	}
}