/***************************/
/*********MEDIA QUERY*******/
/***************************/
/** min Width 1500px for 1920px**/
@media(min-width:1500px){
	// Acccounting > Invoices
	.accounting_invoices{
		.acIvoices_inner{
			table{
				tr{
					td{
						padding:13px 13px 13px 18px;
					}
				}
			}
		}
	}
	.user_admin_customer{
		.userAdminCustomer_inner{
			table{
				tr{
					td{
						padding:13px 13px 13px 18px;
					}
				}
			}
		}
	}
	.ticketsystem_overview,
	.user_admin_customer,
	.admin_max_mustermann,
	.package_settings_name,
	.ticket_archive,
	.ticketsystem_detail,
	.helpDesk,
	.user_admin_name{
		.content-inner{
			max-width:100%;
		}
	}
	.package_settings_name {
		.limits{
			padding-right:50px;
			max-width:100%;
			.limits_row > div.price_inputs {
				max-width: 100%;
			}
		}
	}
	// 24. Ticketsystem Archive 
	.ticket_archive{
		.table_container{
			table{
				tr{
					th{
						&:nth-child(1){
							width:130px;
						}
						&:nth-child(2){
							width:110px;
						}
						&:nth-child(6){
							width:80px;
						}
					}
				}
			}
		}
	}
	// 23. Ticketsystem Detail 
	.ticketsystem_detail{
		.content-inner{
			padding-left:70px;
			padding-right:70px;
		}
		// Chat Container
		.chat__container{
			max-width:100%;
		}
		// Customer Information
		.customer__info{
			max-width:500px;
			margin-left:50px !important;
			.cust_profile_info .cus_address, .ticketsystem_detail .customer__info .cust_profile_info .cus_loginInfo {
				font-size: 14px;
			}
			.cus_extraInfo {
				max-width: 371px;
				width: 100%;
				margin-left: auto;
			}
			// Ticket history
			.ticket__history{
				table{
					tr{
						th,td{
							font-size:13px;
							line-height:15px;
							&:nth-child(1){
								width:130px;
							}
							&:nth-child(2){
								width:72%;
							}
						}
					}
				}
				.change_supporter{
					max-width:230px;
					font-size:13px;
					line-height:15px;
					> p{
						font-size:13px;			
					}
					.custom_select{
						margin-top:8px;
						$height:40px;
						height:$height;
						line-height:$height;
						font-size: 13px;
					}
				}
			}
		}
	}
	// 21. HelpDesk 
	.helpDesk{
		// Category Section
		.helpDesk_category{
			max-width:450px;
		}
		// Article Edit Section
		.articleEditSec{
			.articleEditor{
				height:auto;
			}
		}
	}
	.user_admin_name {
		.user_management .user_management_inner,
		.package_payment .pkgPayment_inner,
		.package_payment .features,
		.history_support .historySupport_inner,
		.documentation.history_support .docmentation_inner{
			max-width: calc(100% - 100px);
		}
		.package_payment {
			.info_container {
				max-width: 330px;
				width: 100%;
			}
			.limits {
				max-width: 100%;
				.limits_row > div.incrementDcrement {
					max-width: 100%;
				}
			}
		}
		.history_support {
			.historyFilter .filter_inner {
				max-width: 300px;
			}
			.historyItemContainer {
				.historyItemInner {
					max-width: 100%;
					.historyItem {
						padding:12px 10px;
						max-width: calc(100% - 30px);
					}
				}
			}
		}		
		.documentation.history_support .docItemContainer.historyItemContainer {
			.historyItemInner{
				max-width: 100%;
			}
			.historyItem {
				max-width:calc(100% - 30px);
				padding: 8.5px 10px;
				margin-bottom: 10px;
			}
		}
	}
}
/*Laptop*/
@media(max-width:1449px){
	.target_group_sec{
		background: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
		background-position: left 27%, 59.5% 10%, 100% 55%;
		background-repeat:no-repeat;
		background-color:$white-main;
		// Target age group
		.age_chart_container{
			.age_target{
				height:300px;
			}
		}
		// subscription cancellation
		.sub_can_container{
			&.chart_container{
				h3{
					font-size: 14px;
				}
			}
			.chart_sub_cancel{
				height:209px;
			}
			.chart_SC_legend{
				margin-top:0px;
			}
		}		
	}
	// Pie Chart Ligend
	ul.pieLegend{
		margin-bottom:10px;
	}
	.accounting_Dashboard{
		background: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/2.png),
				url(../img/bg_images/accounting-dashboard/3.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
		background-position: left 27%, left 42%, 34% 78%, 59% 10%, 100% 90%;
		background-repeat: no-repeat;
		background-color:$white-main;
	}
	// Request a Feature (details)
	.request_feature_details .request_f_details_content .bg_lightbulb {
		bottom: 92px;
	}
	// Language Over View
	.language_overview{
		.language_Ov_inner{			
			.langOv_table{				
				.table_bottom .entries p {
					padding-left: 0px;
				}
			}
		}	
	}
	// E-mail Settings
	.email_settings{
		.sendExample{
			p{
				font-size: 13px;
			}
		}
	}
	// User Administration Name
	.user_admin_name{
		.documentation{
			// + Add Entry to Documentation 
			.addEntryToDoc_wrapper{
				.modal.addEntryToDoc{
					.modal-dialog{
						max-width: 600px;
						.modal-content {
							.modal-body {
								h4 {
									font-size: 25px;
								}				
								p{
									font-size:18px;
								}
							}
							.modal-footer{
								.saveBtn{
									padding: 0px 10px;
									height: 55px;
									line-height: 53px;
								}
							}
							.modal_bg_icon {
								left: -13px;
								bottom: -25px;
								font-size: 449px;
							}
						}						
					}
					.textBody{
						textarea{
							height:100px;
						}
					}
				}
			}
			// History Items && Documentation Items
			.historyItemContainer{
				.historyItemInner{
					padding-right: 18px;
				}
			}
		}
	}
	//Ticket System Detail Closed
	.ticketsystem_detail_closed{
		.chat__container{
			.ticket__closed{
				max-width:480px;
			}
		}
	}
	//Accounting > Social-Media-Strategy
	.social_media_strategy{
		background-image: none;
		transition:0.1s;	
		&.social_analytics_bg{
			background-image: 	url(../img/bg_images/accounting-dashboard/1.png), 
								url(../img/bg_images/accounting-dashboard/4.png), 
								url(../img/bg_images/accounting-dashboard/5.png), 
								url(../img/bg_images/accounting-dashboard/5.png), 
								url(../img/bg_images/effect-180.png),
								url(../img/bg_images/accounting-dashboard/1.png),
								url(../img/bg_images/bg-circle.png),
								url(../img/bg_images/bg-circle.png);
			background-position: left 27%, 60% 10%, 100% 43%, 57% 73%, 45% bottom, left 88%, 40% 27.7%, 85.5% calc(100% - 300px);
			background-size:auto,auto,auto,68px 96px,140px 70px,auto,auto,auto;
			background-repeat: no-repeat;
			background-color: #ffffff;
		}
	}
	// Ticketsystem Overview 
	.ticketsystem_overview{
		// Assigned to you
		.assigned_tableArea{
			.table_container{
				table{
					th,td{
						&:nth-child(1){
							width:112px;
						}
						&:nth-child(2){
							width:90px;
						}
						&:nth-child(3){ 
							display:none;
						}
						&:nth-child(4){ 
							width:117px;
						}
						&:nth-child(5){ 
							width:56%;
							text-align:left;
							padding-left:15px;
						}
						&:nth-child(6){ 
							width:96px;
						}
						&:nth-child(7){ 
							width:56px;
						}
					}
					th{
						&:nth-child(4){ 
							text-align:center;
						}
					}
				}
			}
		}
		// Overview
		.overview_tableArea{
			.table_container{
				table{
					th,td{
						&:nth-child(1){
							width:112px;
						}
						&:nth-child(2){
							width:90px;
						}
						&:nth-child(3){ 
							width:25%; 
						} 
						&:nth-child(4){ 
							display:none;
						}
						&:nth-child(5){ 
							width:117px;;
						}
						&:nth-child(6){ 
							width:20%;
						}
						&:nth-child(7){ 
							width:90px;
						}
						&:nth-child(8){ 
							width:70px;
						}
					}
					td{
						&:nth-child(3), &:nth-child(5){ 
							text-align:left;
							padding-left:15px
						}
					}
				}
			}
		}
	}
	// 17. User Adminstration - Customer
	.user_admin_customer{
		.userAdminCustomer_inner{
			table{
				tr{
					th,td{				
						&:nth-child(1){
							width:104px;
						}
						&:nth-child(2){
							display:none;
						} 
						&:nth-child(3){
							width: 13%;
						} 
						&:nth-child(4){
							width: 17%;
						} 
						&:nth-child(5){
							width:35%;
						}					
						&:nth-child(6){
							width:100px;
						}	
						&:nth-child(7){
							width:90px;
						}
					}
				}
			}
		}
	} 
}
/*Medium devices (laptop, less than 1300px)*/
@media(max-width: 1350px){
	#headerMenu{
		.site-logo{
			padding-left:20px;
			img{
				padding-right:20px;
			}
		}
		.h-icons{
			margin-right:20px;
		}
		.h-icons2{
			padding-left:20px;
			font-size:12px;
		}
	}
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: column;
				text-align:center;
				.profile_pic_d{
					margin:0px auto 10px auto;
				}
			}
		}
		.daily_sales .ds_icon_bg{
			font-size:240px;
		}
	}
	.accounting_Dashboard{
		// Sales figures by packages
		.sales_figure_chart_container{
			.sales_figure_legend ul.pieLegend li p {
				font-size: 17px;
				span.chart-data {
					font-size: 11px;
					display: block;
				}
			}
		}		
	}	

}
@media(max-width: 1199px){
	#headerMenu .site-logo {
		.logo-text {
			position: absolute;
			right: 3px;
			top: -4px;
			font-size: 11px;
		}
	}
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: row;
				text-align:left;
				.profile_pic_d{
					margin:0px;
				}
			}
		}
	}
	.accounting_Dashboard{
		// Sales Period Bar Chart
		.sales_chart_container{
			max-width:654px;
		}
		.crnt_active_user,.reg_users{
			max-width: 346px;
		}
		.sales_figure_legend ul.pieLegend li p {
			font-size: 17px;
			span.chart-data {
				font-size: 11px;
				display: block;
			}
		}
		// Sales figures by packages
		.sales_figure_chart_container{
			max-width:419px;
		}
		// Sales by the last 10 Months
		.sales_last_10_m{
			max-width:575px;
		}
		// User growth
		.user_growth{
			max-width:344px;
		}
		// Users by Period
		.users_P_chart_container{
			max-width:654px;
		}
	}
	.table_container {
		overflow:auto;
		table, .table_bottom{
			min-width:750px;		
		}
	}
	.responsive_alert{
		display:block;
	}
	// Modal design
	.modal .modal-dialog {
		max-width: 470px;
	}
	// Acccounting > Invoices
	.accounting_invoices{
		.acIvoices_inner{
			table{
				min-width:795px;
			}
		}
	}
	// User Adminstration - Customer
	.user_admin_customer{
		.userAdminCustomer_inner{
			table{
				min-width: 880px;
			}
		}
	}
	// User Admin Name
	.user_admin_name{
		// User Management
		.user_management{
			max-width: 680px;
			// personal Setting
			.personal_setting{
				.nice-select{
					width:150px;
				}			
				.inputs_row{
					margin:0px -2.5px;
					> div{
						margin:5px 2.5px;
						width:50%;
					}
				}
				input[type="text"]{
					width:100%;
				}
			}
			// Interface Settings && Informations
			.interface_settings,
			.informations{
				max-width:270px;
				width:100%;
			}
		}
	}

	// User Administration Name
	.user_admin_name{
		.documentation{
			.historyItemContainer{
				.historyItemInner{
					padding-right: 5px;
				}
			}
		}
	}

	// Coupons
	.coupons{
		.table_container table, .table_container .table_bottom {
			min-width: 845px;
		}
	}
	//Ticketsystem Overview / Ticket-System
	.ticketsystem_overview{
		.table_container{
			table, .table_bottom {
				min-width:900px;
			}
		}		
	}
	//ticketsystem Archive
	.ticket_archive{
		.table_container{
			table, .table_bottom {
				min-width:800px;
			}
		}
	}
	//Accounting > Social-Media-Strategy
	.social_media_strategy{	
		&.social_analytics_bg{
			background-image:none;
		}
		.social_overview .table_container {
			table,.table_bottom{
				min-width:890px;
			}
		}
		.col-xl-7,.col-xl-5{
			justify-content:center;
			.chart_container{
				width:100%;
				margin-left:auto;
				margin-right:auto;				
			}
		}
		.col-xl-7,.col-xl-5{
			.chart_container{
				max-width:595px;			
			}
		}
		.col-xl-5{
			.chart_container{
				max-width:471px;
			}
		}
		.social_analytics{
			.h_w_s_m_chart_container{
				.hwsm_chart_inner{
					height:260px;
				}
			}
			.plan_pub_chart_container .plan_publish_chart_inner{
				height:260px;
			}
		}	
		
	}
	.target_group_sec{
		.col-xl-7,.col-xl-5{
			justify-content:center;
			.chart_container{
				width:100%;
				margin-left:auto;
				margin-right:auto;				
			}
		}
		.col-xl-7,.col-xl-5{
			.chart_container{
				max-width:595px;			
			}
		}
		.col-xl-5{
			.chart_container{
				max-width:471px;
			}
		}
	}
}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	$menu_height:150px;
	#headerMenu{		
		height:$menu_height;
	}
	#bodyItem{
		.sidebar_nav{
			margin-top:$menu_height;
			// height: calc(100% - $menu_height);
		}
		.main_item{			
			.body-header-content{
				margin-top:$menu_height;
			}
		}
		&.doc_pages{
			.sidebar_nav{
				height:calc(100% - $menu_height);
			}
			.doc_wrapper{			
				margin-top:$menu_height;
			}
		}
	}
	// Dashboard
	.dashboardItem{
		.c_service{
			.cs_items{
				[class*="col-"]{
					&::after{
						display:none;
					}
				}
			}
		}
	}
	/*Language Edit/Add*/
	.language_EditAdd{
		.languageEditAdd_inner{
			.langNameCode{
				.langName {
					input{
						min-width:100%;
						width:100%;					
					}
				}
			}
		}
	}
	// User Administration Name
	.user_admin_name{
		// Support & History
		.history_support{
			// Filter
			.historyFilter{
				border-right:0px solid $blue-opacity;
			}
		}
	}

	// 29. User Adminstration - Administrators
	.administrator{
		// Add New Admin  Modal
		.add_new_admin__modal{
			&.modal .modal-dialog {
				max-width: 923px;
				.close{
					right: 10px;
					top: 10px;
				}			
				.modal-content{
					background-image: linear-gradient(rgba(116, 114, 114, 0.2), rgba(116, 114, 114, 0.2)),
									url('../img/team.png');
					background-repeat:no-repeat;
					background-position:bottom right;
					.role_select_row{
						h6{
							background-color:rgba(255,255,255,0.5);
							padding:5px;
							color:$black-main;
						}
					}
				}
			}		
		}
	}
	/*-----<Hover Animations>-----*/
	.hover__item{
		.hover__inner{
			.hover__title{
				text-align:center !important;
			}
		}
	}
	/*-----</Hover Animations>-----*/
	// Documentation pages
	.doc_inner{
		.doc_aside{
			max-width:100%;
			flex-basis:100%;
			width:100%;
			padding-bottom:100px;
		}
		.doc_main{
			width:100%;
		}
	}
}
@media (max-width: 767px) {
	#bodyItem{
		.sidebar_nav{
			margin-left:0;
			opacity:1;
			color:$white;
			z-index:10;
			box-shadow:9px 0px 12px -2px rgba(0,0,0,0.5);
			&.nav-active{
				margin-left:-250px;
				opacity:0;
				color:transparent;
			}
		}
		.main_item{	
			margin-left:0px;		
			&.main_item-active{
				margin-left:0px;
				width:100%;
			}
		}
		&.doc_pages{
			.sidebar_nav{
				margin-left:-250px;
				opacity:0;
				&.nav-active{
					margin-left:0px;
					opacity:1;
					color:$white-main;
				}
			}
		}
	}
	// Accounting > Invoices
	.nice-select.big_select,
	.accounting_invoices{
		.acIvoices_inner{
			.nice-select.acInvoiceSelect{
				max-width:232px;
				width:100%;
			}
		}
	}	
}
@media (max-width: 575px) {
	$menu_height:180px;
	#headerMenu{
		height:$menu_height;
	 .h-icons2 {
			padding-left: 15px;
			font-size: 2.8vw;
			&:first-child{
				padding-left:0;
			}
		}
		.profile-photoss{
			.user-name{
				font-size:14px;
			}
		}
	}
	#bodyItem{
		.sidebar_nav{
			margin-top:$menu_height;
			// height: calc(100vh - $menu_height);
		}
		.main_item{			
			.body-header-content{
				margin-top:$menu_height; 
			}
		}
		&.doc_pages{
			.sidebar_nav{
				height:calc(100% - $menu_height);
			}
			.doc_wrapper{			
				margin-top:$menu_height;
			}
		}
	}
	//Email Settings
	.email_settings{
		.emSet_inputs{
			&.senderEmail,&.acName,
			&.senderName,
			&.acPassword,&.smtpServer,
			&.smtpPOrt{
				max-width:100%;
			}
		}
	}
	//User Admin Name
	.user_admin_name{
		// User Management
		.user_management{
			// personal Setting
			.personal_setting{			
				.inputs_row{
					> div{
						margin:5px 0px;
						width:100%;
					}
				}
			}
		}
		// Support & History
		.history_support .historyItemContainer .historyItem {
			.profile_hist {
				padding-right: 0px;
			}
			.timeDate_hist {
				width: 100% !important;
				padding-left: 0px !important;
				text-align: center;
				&::before{
					position:static;
					display:block;
					width:46px !important;
					height:3.33px !important;
					margin: 12px auto;
				}
			}
		}
	}
	// Backend Rights & Roles Edit Page
	.roles_rights_edit{
		.role_informations{
			padding:20px 15px 0px 15px;
			.name_role{
				padding:0px 0px 28px 0px;			
				min-width:auto;
			}
			.name_info{
				min-width:auto;
				max-width:249px;
				width:100%;
				padding:0px 0px 28px 0px;
			}
		}
	}
	// 29. User Adminstration - Administrators
	.administrator{
		.add_new_admin__modal{
			&.modal .modal-dialog {		
				.modal-content{
					.modal-body{
						.newAdmin_inputs{
							.inputs_row{
								p{
									max-width:100% !important;
									input{
										width:100%;
										max-width:100% !important;
									}
								}
							}
						}
					}
				}
			}		
		}
	}
	//Accounting > Social-Media-Strategy
	.social_media_strategy{
		.col-xl-7,.col-xl-5{
			.chart_container{
				max-width:100%;			
			}
		}
	}
}

@media (max-width:400px){
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: column;
				text-align:center;
				.profile_pic_d{
					margin:0px auto 10px auto;
				}
			}
		}
	}
	.accounting_Dashboard{
		// Sales Figure Chart
		 .sales_figure_chart_container .sales_figure_legend ul.pieLegend {
			padding:0px;
			li p {
				font-size: 15px;
			}
		}
		// Sales by the last 10 Monthsul.pieLegend 
		.sales_last_10_m{
			.sales_item_header {
				flex-direction:column;
				text-align:center;
			}
			table.sales_item_table{
				tr{
					td{
						background: $white-main;
						@include b-radius(8px);
						padding: 7px;
						height: 35px;
						border: 4px solid $gray-light1;
						font-size: 13px;
						@include transition-all(0.3s);
						&:nth-child(1){
							text-align:left;
						}			
					}
					&:hover td{
						background: $blue-opacity;
					}
				}
			}
		}
	}
}