/***************************/
/*********MEDIA QUERY*******/
/***************************/
/* 1080px height like 1200x1080 & 1500 to 1920 x 1080px*/
@media(min-height:1000px){

}
/** min Width 1600px for 1920px**/
@media(min-width:1600px){
	
}
/*Laptop*/
@media(max-width:1366px){
	.target_group_sec{
		background: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
		background-position: left 27%, 59.5% 10%, 100% 55%;
		background-repeat:no-repeat;
		// Target age group
		.age_chart_container{
			.age_target{
				height:300px;
			}
		}
		// subscription cancellation
		.sub_can_container{
			&.chart_container{
				h3{
					font-size: 14px;
				}
			}
			.chart_sub_cancel{
				height:209px;
			}
			.chart_SC_legend{
				margin-top:0px;
			}
		}		
	}
	// Pie Chart Ligend
	ul.pieLegend{
		margin-bottom:10px;
	}
	.accounting_Dashboard{
		background: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/2.png),
				url(../img/bg_images/accounting-dashboard/3.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
		background-position: left 27%, left 42%, 34% 78%, 59% 10%, 100% 90%;
		background-repeat: no-repeat;
	}
	// Request a Feature (details)
	.request_feature_details .request_f_details_content .bg_lightbulb {
		bottom: 92px;
	}
	// Language Over View
	.language_overview{
		.language_Ov_inner{			
			.langOv_table{				
				.table_bottom .entries p {
					padding-left: 0px;
				}
			}
		}	
	}
}
/*Medium devices (laptop, less than 1300px)*/
@media(max-width: 1350px){
	#headerMenu{
		.site-logo{
			padding-left:20px;
			img{
				padding-right:20px;
			}
		}
		.h-icons{
			margin-right:20px;
		}
		.h-icons2{
			padding-left:20px;
			font-size:12px;
		}
	}
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: column;
				text-align:center;
				.profile_pic_d{
					margin:0px auto 10px auto;
				}
			}
		}
		.daily_sales .ds_icon_bg{
			font-size:240px;
		}
	}
	.accounting_Dashboard{
		// Sales figures by packages
		.sales_figure_chart_container{
			.sales_figure_legend ul.pieLegend li p {
				font-size: 17px;
				span.chart-data {
					font-size: 11px;
					display: block;
				}
			}
		}		
	}	

}
@media(max-width: 1199px){
	.site-logo{
		width:210px;
		img{
			max-width:100%;
		}
	}
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: row;
				text-align:left;
				.profile_pic_d{
					margin:0px;
				}
			}
		}
	}
	.accounting_Dashboard{
		// Sales Period Bar Chart
		.sales_chart_container{
			max-width:654px;
		}
		.crnt_active_user,.reg_users{
			max-width: 346px;
		}
		.sales_figure_legend ul.pieLegend li p {
			font-size: 17px;
			span.chart-data {
				font-size: 11px;
				display: block;
			}
		}
		// Sales figures by packages
		.sales_figure_chart_container{
			max-width:419px;
		}
		// Sales by the last 10 Months
		.sales_last_10_m{
			max-width:575px;
		}
		// User growth
		.user_growth{
			max-width:344px;
		}
		// Users by Period
		.users_P_chart_container{
			max-width:654px;
		}
	}
	.table_container {
		overflow:auto;
		table, .table_bottom{
			min-width:600px;		
		}
	}
	.responsive_alert{
		display:block;
	}
	// Modal design
	.modal .modal-dialog {
		max-width: 470px;
	}
}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	#headerMenu{		
		height:150px;
	}
	#bodyItem{
		.sidebar_nav{
			margin-top:150px;
			// height: calc(100% - 150px);
		}
		.main_item{			
			.body-header-content{
				margin-top:150px;
			}
		}
	}
	/*Language Edit/Add*/
	.language_EditAdd{
		.languageEditAdd_inner{
			.langNameCode{
				.langName {
					input{
						min-width:100%;
						width:100%;					
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#bodyItem{
		.sidebar_nav{
			margin-left:0;
			opacity:1;
			color:$white;
			z-index:10;
			box-shadow:9px 0px 12px -2px rgba(0,0,0,0.5);
			&.nav-active{
				margin-left:-250px;
				opacity:0;
				color:transparent;
			}
		}
		.main_item{	
			margin-left:0px;		
			&.main_item-active{
				margin-left:0px;
				width:100%;
			}
		}
	}
}
@media (max-width: 575px) {
	#headerMenu{
		height:180px;
	 .h-icons2 {
			padding-left: 15px;
			font-size: 2.8vw;
			&:first-child{
				padding-left:0;
			}
		}
		.profile-photoss{
			.user-name{
				font-size:14px;
			}
		}
	}
	#bodyItem{
		.sidebar_nav{
			margin-top:180px;
			// height: calc(100vh - 180px);
		}
		.main_item{			
			.body-header-content{
				margin-top:180px; 
			}
		}
	}
	//Email Settings
	.email_settings{
		.emSet_inputs{
			&.senderEmail,&.acName,
			&.senderName,
			&.acPassword,&.smtpServer,
			&.smtpPOrt{
				max-width:100%;
			}
		}
	}
}

@media (max-width:400px){
	.dashboardItem{
		.profile_card{
			.profile_content {
				flex-direction: column;
				text-align:center;
				.profile_pic_d{
					margin:0px auto 10px auto;
				}
			}
		}
	}
	.accounting_Dashboard{
		// Sales Figure Chart
		 .sales_figure_chart_container .sales_figure_legend ul.pieLegend {
			padding:0px;
			li p {
				font-size: 15px;
			}
		}
		// Sales by the last 10 Monthsul.pieLegend 
		.sales_last_10_m{
			.sales_item_header {
				flex-direction:column;
				text-align:center;
			}
			table.sales_item_table{
				tr{
					td{
						background: $white-main;
						@include b-radius(8px);
						padding: 7px;
						height: 35px;
						border: 4px solid $gray-light1;
						font-size: 13px;
						@include transition-all(0.3s);
						&:nth-child(1){
							text-align:left;
						}			
					}
					&:hover td{
						background: $blue-opacity;
					}
				}
			}
		}
	}
	
}