
@import "./_mixin.scss";
@import "./_variable.scss";
@import "./_indexing.scss";
@import "./_reset.scss";
@import "./_common.scss";


/*****Header Menu*****/
#headerMenu{
	background-color:$blue-dark;
	color:$white;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
	.site-logo{
		max-width:300px;
		width:100%;
		padding-left:35px;
		img{
			max-width:100%;		
		}
	}
	.h-82{		
		height:82px;
	}
	.h-icons{
		margin-right:42px;		
		position:relative;
		@include transition-all(0.3s);
		right:0px;
			bottom:0px;
		&:hover{
			right:-3px;
			bottom:-3px;
		}
		&:last-child{
			margin-right:0;
		}
		&.menu_bar_icon{
			width:25px;
			height:25px;
			.hambarger{
				height:2px;
				width:21px;
				background-color:$white;
				display:block;
				position:absolute;
				@include transform-translate-50;
				@include transition-all(0.5s);				
				&::before,&::after{
					content:'';
					position:absolute;
					height:2px;
					width:21px;
					background-color:$white;
					display:block;					
				@include transition-all(0.5s);
				}
				&::before{
					top:-8px;
				}
				&::after{
					top:8px;
				}
			}
			&.active{
				.hambarger{
					background-color:rgba(0,0,0,0);
					&::before{
						top:0;
						@include transform-rotate(45deg);
					}
					&::after{
						top:0;
						@include transform-rotate(135deg);
					}
				}
			}
		}
	
	}
	.h-icons2{
		padding-left:42px;
		@include transition-all(0.3s);
		position:relative;
		top:0;
		&:hover{
			color:#ffffff;
			text-shadow: 0 0 5px #000000;
			top:3px;
			@include transition-all(0.3s);
			img,i{
				@include transform-scale(1.1);
			}
		}
		&:first-child{
			padding-left:0px;
		}
		.icon-mdi{
			font-size: 25px;
			line-height: 0;
		}
	}
	.profile-photoss{		
		.logout-icon {
			bottom: 0px;
			right: -10px;
			.lgt_icons{
				background-color:#0C4266;
				width:24px;
				height:24px;
				@include b-radius(50%);
				&.looping{
					animation: rotate 750ms 300ms infinite;
				}
			}
		}
		.profile_pic{
			img{
				width:50px;
				height:50px;
				@include b-radius(50%);
				border:2px solid $white;
				@include transition-all(0.3s);
				&:hover{
					border:2px solid $blue-dark;
				}
			}
		}
	}
}
@keyframes rotate {
	to {
		@include transform-rotate(180deg);
	}
}
/*****Body Items*****/
#bodyItem{
	min-height:100vh;
	overflow-x:hidden;
	background-color:$gray-light1;
	/*category side bar*/	
	.sidebar_nav{
		min-width:250px;
		width:250px;	
		overflow:hidden;
		margin-left:-250px;
		margin-top:82px;
		opacity: 0;
		@include transition-all(0.5s);
		@include gradientTopBottom($blue-normal, $blue-bold);
		// background: linear-gradient(180deg, $blue-normal 0%, $blue-bold 100%);
		color:transparent;
		&.nav-active{
			opacity:1;
			color:$white;
			margin-left:0;
		}	
		#navAccordion	{
			color:$white;
			.side_nav_item{
				width:250px;
			}
			.item-header{
				padding-top:8px;
				padding-bottom:8px;
                min-height: 55px;	
				background-color:$blue-dark;					
				@include transition-all(0.3s);
				position:relative;
				z-index:1;
				overflow:hidden;
                .nav_item_title{
                    color:$white;
                    font-size:15px;
                }
                .carret-icon{
                    @include transform-rotate(180deg);
                    @include transition-all(0.3s);	                    					
                }
                .icon-mdi{
                    font-size:20px;
                    color:$white;
                }
				&::before{
					content:'';
					position:absolute;
					height:100%;
					width:0px;
					left:0;
					opacity:0.3;					
					background-color:$blue-bold;
					@include transition-all(0.3s);
					z-index:-1;			
				}
				&:hover{
					&::before{
						width:100%;	
						opacity:1;		
					}
				}
				&.collapsed{
					background-color:$blue-light;
					.carret-icon{
						@include transform-rotate(0deg);
						@include transition-all(0.3s);						
					}					
				}
                			
			}
			.itemss{
				li{
					a{
						font-size:15px;
						margin-top:15px;
						display:inline-block;
						position:relative;
						left:0;
						@include transition-all(0.3s);
						&:hover{
							// @include transform-scale(1.2);
							color:#ffffff;
							left:8px;
							@include text-shadow-scale($text-shadow2, 1.1);
						}
					}
                    &::before {
                        content: "\2022";
                        color: $blue-light;
                        font-weight: bold;
                        display: inline-block;
                        width: 13px;
                        margin-left: -10px;
                        vertical-align:text-bottom;
                    }
				}               
			}
		}
		.nav_foot_content {
			margin-top:160px;
			.short-logo{
				width:115px;
				height:115px;
				@include b-radius(50%);
				@include transition-all(0.3s);	
				background-color: $blue-dark;
				text-align:center;
				line-height:115px;	
				@include box-shadow(0px 4px 24px rgba(0, 45, 74, 0.6));
				&:hover{
					@include transform-scale(1.05);
				}
			}
			.up_link{
				@include transition-all(0.3s);
					&:hover{
						color:#ffffff;
						@include text-shadow-scale($text-shadow2, 1.1);
					}
			}
		}
	}
	.main_item{
		width:100%;
		background-color:$gray-light1;
		@include transition-all(0.5s);
		&.main_item-active{
			width:calc(100% - 250px);
		}
		.body-header-content{	
			margin-top:82px;
			.back_btn{
				font-size: 20px;
				color: $blue-bold;
				min-width: 36px;
				width: 36px;
				height: 36px;
				line-height: 36px;
				position: relative;
				bottom: 2px;
				display: inline-block;
				text-align: center;
				@include transition-all(0.3s);
				&:hover{
					background-color: $blue-light;
					color:$white-main;
					@include b-radius(50%);
				}
			}
			.bh_title{
				font-size:24px;
			}	
			p{
				font-size:15px;
			}
		}		
	}
}

/***************************/
/* 1. Dashboard */
/***************************/
#bodyItem .main_item.dashboard{
	background-image: url(../img/bg_images/dashboard_effect_1.png), 
				url(../img/bg_images/dashboard_effect_2.png);
	background-position: right 41%, 60px bottom;
	background-repeat:no-repeat,no-repeat;
	background-color: $blue-bold;
	min-height: 100vh;
	h2{
		font-size: 40px;
		font-family: $font-roboto;
		color:$white;
	}
}
.dashboardItem{
	&.content-container{
		background-color: transparent;
		@include box-shadow(none);
	}
	.content-inner{
		max-width:1109px;
		padding:20px;
		min-height: auto;
	}
	.d_item_header{
		a{
			color:$blue-normal;
			text-decoration:underline;
			font-size: 12px;
			padding-left: 10px;
		}
	}
	.profile_card{
		@include b-radius(5px);
		box-sizing:border-box;
		padding:10px;
		max-width:416px;
		min-height:216px;
		width:100%;
		@include box-shadow(-3px 3px 6px -1px rgba(255,255,255,0.5));
		position:relative;
		z-index:2;
		*{
			color:$white;
		}
		.p_title{
			font-size:18px;
		}
		.icon-mdi{
			font-size:25px;
			margin-top:-6px;
		}
		.profile_pic_d img{
			width:92px;
			height:92px;
			border:2px solid $blue-normal;
			display:block;
		}
		.profile_info_d{
			p{
				font-size:18px;
				span{
					font-weight:bold;
				}
			}
			.name_d{
				font-size:22px;
			}
			.email_d{
				font-size:13px;
			}
		}
		&::before{
			content:'';
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			@include gradientTopBottom($blue-light, $blue-bold);
			z-index:-1;	
			@include b-radius(5px);		
		}	
		&::after{
			content:'';
			background-color: #D6F6FF;
			opacity: 0.7;
			width:39px;
			height:35px;
			@include b-radius(50%);
			position:absolute;
			top:0;
			right:-16px;
			@include transform-translate-custom(0%, -44%);	
			z-index:-2;		
		}
	}
	.c_service{
		background-color: $white-main;
		min-height: 216px;
		max-width:656px;
		width:100%;
		.cs_items{
			padding:10px 30px;
			[class*="col-"]{
				&::after{
					content:'';
					width:2px;
					height:96px;
					display:inline-block;
					background-color: $black-light;
					position:absolute;
					right:10px;
					top:0;
				}
				&:last-child{
					&::after{
						width:0px;
					}
				}
			}
			.cs_item{				
				.icon-bg{
					font-size:75px;
					color:$blue-opacity;
					line-height: 1;
					margin-left:-10px;
				}
				p{
					text-align:center;
					font-size:18px;
					padding-right:15px;
					span{
						font-size:28px;
					}
					&.nc_item{
						color:$black-main;
						text-align:center;
						margin-top:-38px;
					}
					&.fcs{
						font-size: 15px;
					}
				}				
			}
		}
	}
	.latest_transection{
		background-color:$white-main;
		min-height:547px;
		max-width:416px;
		width:100%;
		table{
			border-collapse: separate;
			border-spacing: 0;
			table-layout: fixed;
			tbody{
				tr{
					td{
						background:$gray-light1;
						@include b-radius(10px);
						padding: 7px;
						height: 35px;
						border: 4px solid $white-main;
						font-size: 15px;
						.pic_small{
							width:21px;
							height:21px;
							@include b-radius(50%);
							display:inline-block;
							margin-right:10px;
							vertical-align: middle;
						}							
						&:first-child{
							width:calc(100% - 110px);
							text-align:left;
						}
						&:last-child{
							width:110px;
						}
					}
					&:hover{
						td{
							background-color:$blue-opacity;
						}
					}
				}
			}
		}
	}
	// Daily Sales
	.daily_sales,.user_growth{
		background-color: $white-main;
		min-height:264px;
		max-width:351px;
		width:100%;
		position:relative;
		.ds_icon_bg,.ug_icon_bg{
			font-size:265px;
			position:absolute;
			color:rgba(188, 241, 255, 0.18);
			left:10px;
			top:-65px;
		}
		.ds_itmes{
			position:relative;
			z-index: 1;
			margin-top: 35px;
			.ds_percent{
				font-size:100px;
				color:$blue-bold;
				line-height:1;				
				span{
					font-size:50px;
					margin-left:-10px;
				}
			}
			.ds_up{
				color:$blue-light;
				font-size: 18px;
				line-height:1;
			}
		}	
		
		.ds_ftr, .ug_ftr{
			font-size: 10px;
			color:$gray;
			position:absolute;
			left:0;
			bottom:5px;
			width:100%;
			z-index:1;
			padding:0px 10px;
			text-align:center;
		}
	}
	.user_growth{
		max-width:267px;
		width:100%;
		.ug_icon_bg{
			font-size: 180px;
			left: auto;
			top: auto;
			bottom: -83px;
			right: -7px;
		}
		.ug_itmes{
			position:relative;
			z-index: 1;
			max-width:180px;
			width:100%;
			margin:0px auto 10px auto;
			.ug_circle{
				width:100%;
				padding:0;
				padding-top:calc(100% - 16px);
				border:8px solid $blue-opacity;
				position:relative;
				@include b-radius(50%);
				.ug_percent{
					position:absolute;
					@include transform-translate-50;
					font-size:70px;
					color:$blue-bold;
					span{
						display: inline-block;
					}
					.prct,.mdi{
						position:absolute;
						@include transform-translate-topCenter;
					}
					.mdi{
						font-size: 35px;
						color:$blue-light;
						left:-25px;
					}
					.prct{
						font-size: 35px;
						right: -29px;
						padding-top: 22px;
					}
				}
			}			
		}
	}
	.server_info{
		background-color: $white-main;
		min-height:271px;
		max-width: 657px;
		width: 100%;
		.system_title{			
			font-size: 18px;
			font-family: $font-roboto;
			span{
				color: $green-light;
			}
		}
		.system_items{
			overflow: hidden;
			.sys_item{
				overflow: hidden;
				padding: 4px 0px;
				.sys_name{
					width:100px;
					padding-right:10px;
					font-size: 18px;
					color:$blue-bold;
				}
				.sys_bar_container{
					width: calc(100% - 160px);
					.sys_bar{
						width:100%;
						@include box-shadow(inset 0px 4px 4px rgba(0, 0, 0, 0.25));
						height:8px;
						@include b-radius(5px);
						margin-top: 9px;
						.sys_inner_bar{
							background-color: #E2AC42;
							height:8px;
							@include box-shadow(inset 0px 4px 4px rgba(0, 0, 0, 0.25));
							@include b-radius(5px 0px 0px 5px);
							&.cpu{
								background-color: #1BD12D;
							}
							&.storage-1{
								background-color: #E24242;
							}
							&.storage-2{
								background-color: #31C340;
							}
						}
					}
				}
				.sys_percent{
					width:60px;
					padding-left:20px;
					color:$gray-2;
					font-family: $font-roboto;
					font-size: 12px;
				}
			}
		}
	}
}
/***************************/
/* 2. Target Group Dashboard | chart.js */
/***************************/
.target_group_sec{
	background-image: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
	background-position: left 27%, 57.3% 10%, 100% 55%;
	background-repeat:no-repeat;
	&.content-container{
		.content-inner{
			max-width:1190px;
		}
	}
	// Age Target group bar chart
	.age_chart_container{
		background-color: $white-main;
		> p{
			font-size:14px;
			color:$gray;
			padding-left:10px;
			padding-bottom:10px;
		}
		.age_target{
			height:400px;
		}
		.bottom_text{
			font-size: 9px;
			color: #A3A3A3;
			max-width: 80px;
			width: 100%;
			margin-left: auto;
			text-align: right;
			top: -11px;
			position: relative;
			margin-top: -16px;
		}
		
	}
	// Subscription Cancellation pie Chart 
	.sub_can_container{
		background-color: $white-main;
		overflow:hidden;		
		&.chart_container{
			h3{
				font-size: 14px;
			}
		}
		.chart_sub_cancel{
			height:300px;
		}
		.chart_SC_legend{
			margin-top:20px;			
			@include ordering_html_legend_6();
		}
	}
	// Distributation Network Bar Chart
	.dist_net_chart_container{
		background-color: $white-main;
		p{
			color: $gray;
			font-size: 9px;
			max-width: 48px;
			width: 100%;
			position: relative;
			margin-bottom: -10px;
			padding: 14px 0px;
			left: -3px;
		}
		.dist_net{
			height:290px;
			padding-left:10px;
		}
	}

	// Payment Method Pie Chart
	.payment_chart_container{
		background-color: $white-main;
		.payment_method{
			height:300px;
		}
		.p_method_legend{
			@include ordering_html_legend_6();
		}
	}
	// Distributation Network Bar Chart-2
	.dist_chart_container2{
		background-color: $white-main;
		p{
			color: $gray;
			font-size: 9px;
			max-width: 58px;
			width: 100%;
			position: relative;
			margin-bottom: -11px;
			padding: 14px 0px;
		}
		.dist_net2{
			height:350px;
			padding-left:10px;
		}
	}	
}

/***************************/
/* 3. Accounting Dashboard | chart.js */
/***************************/
.accounting_Dashboard{
	background-image: url(../img/bg_images/accounting-dashboard/1.png),
				url(../img/bg_images/accounting-dashboard/2.png),
				url(../img/bg_images/accounting-dashboard/3.png),
				url(../img/bg_images/accounting-dashboard/4.png),
				url(../img/bg_images/accounting-dashboard/5.png);
	background-position: left 27%, left 42%, 38% 78%, 57% 10%, 100% 90%;
	background-repeat:no-repeat;
	// Sales Period Bar Chart
	.sales_chart_container{
		background-color: $white-main;
		width:100%;
		.sales_period{
			height:350px;
		}
	}
	// Current Active user
	.crnt_active_user{
		background-color: $white-main;
		.user_circle{
			width:138px;
			height:138px;
			margin:20px auto;
			border:5px solid $blue-sky;
			@include b-radius(50%);
			.user_icon{
				color:$blue-light;
				font-size:43px;
				position: relative;
				top: 14px;
				margin-top: 3px;
				.mdi-currency-usd{
					color:$blue-opacity;
					font-size: 22px;
					margin-left: -30px;
					position: relative;
					top: 2px;
				}
			}
			.u_amount{
				font-size:25px;
				letter-spacing: -0.0105px;
			}
		}
		p{
			font-size:16px;
		}
	}
	// Registered users
	.reg_users{
		background-color: $white-main;
		h3{
			line-height:1;
		}
		.reg_user_icon{
			font-size:43px;
			width:62px;
			height:62px;
			@include b-radius(50%);
			border:3px solid $blue-opacity;
			color:$blue-light;			
			text-align:center;
			line-height:62px;
		}
		.reg_text{
			p{
				font-size: 18px;
    			line-height: 1;
			}
		}
	}
	//Sales figures by packages Pie Chart
	.sales_figure_chart_container{
		background-color: $white-main;
		.sales_figureChart {
			height: 320px;
			margin: 13px 0px;
		}
		.sales_figure_legend{
			ul.pieLegend li {
				margin: 10px 0px;
				&:nth-child(1){
					order:1;
				}
				&:nth-child(2){
					order:4;
				}
				&:nth-child(3){
					order:2;
				}
				&:nth-child(4){
					order:3;
				}
				span.rec_Lgnd{
					margin-right: 10px;
					width: 26px;
					min-width: 26px;
					height: 20px;
				}
				p {
					font-size: 20px;
					line-height:1;
					span.chart-data{
						font-size: 14px;
						display: block;
					}
				}
			}
		}
	}
	// Sales by the last 10 Months Table
	.sales_last_10_m{
		background-color: $white-main;
		.sales_item_header{
			.l_10_m_btn{
				color: $blue-light;
				background: transparent;
				border: 1px solid $blue-light !important;
				display: inline-block;
				border-radius: 5px;
				font-size:15px;
				@include transition-all(0.3s);
				&:hover{
					color: $white-main;
					background: $blue-light;
				}
				.mdi-download{
					font-size: 17px;
					position: relative;
					top: 2px;
				}				
			}
		}
		table.sales_item_table{
			border-collapse: separate;
			border-spacing: 0;
			table-layout: fixed;
			background: $gray-light1;
			@include b-radius(8px);
			padding:5px;
			tr{
				th,td{
					&:nth-child(1){
						width:46%;
					}
					&:nth-child(2), &:nth-child(3){
						width:27%;
					}
				}
				th{
					font-size:14px;
				}
				td{
					background: $white-main;
					@include b-radius(8px);
					padding: 7px;
					height: 35px;
					border: 4px solid $gray-light1;
					font-size: 15px;
					@include transition-all(0.3s);
					&:nth-child(1){
						text-align:left;
					}			
				}
				&:hover td{
					background: $blue-opacity;
				}
			}
		}
	}
	// User Growth
	.user_growth{
		background-color: $white-main;
		 .ug_icon_bg {
			font-size: 262px;
			position: absolute;
			bottom: -120px;
			right: 5px;
			color: rgba(188, 241, 255, 0.18);
			}
		.ug_itmes {
			position: relative;
			z-index: 1;
			max-width: 267px;
			width: 100%;
			margin: 0px auto 10px auto;
			.ug_circle {
				width: 100%;
				padding: 0;
				padding-top: calc(100% - 28px);
    			border: 14px solid $blue-opacity;
				@include b-radius(50%);
				position: relative;
				.ug_percent {
					position: absolute;
					@include transform-translate-50;
					font-size: 90px;
					color: $blue-bold;
					span{
						display: inline-block;
					}
					.prct, .mdi {
						position: absolute;
						font-size: 45px;
						@include  transform-translate-topCenter;
					}
					.mdi{						
						color: $blue-light;
						left: -40px;
					}
					.prct{
    					right: -40px;
						padding-top: 22px;
					}
				}
			}
		}
		.ug_ftr{
			font-size: 15px;
			color: $gray;
			position: absolute;
			left: 0;
			bottom: 5px;
			width: 100%;
			z-index: 1;
			padding: 0px 10px;
			text-align: center;
		}
	}
	// users by period Bar Chart
	.users_P_chart_container{
		background-color: $white-main;
		.users_periodChart{
			height:350px;
		}
	}
}

/***************************/
/* 4. Request A Feature */
/***************************/
.request_feature{
	.request_feature_items{
		background-color: $gray-light1;
		table{
			tr{
				th,td{				
					height: 63px;
					font-weight:300;
					&:nth-child(1){
						width:72px;
					}
					&:nth-child(2){
						width: 26%;
					} 
					
					&:nth-child(3){
						width: 65%;
					} 
					&:nth-child(4),	&:nth-child(5){
						width:86px;
					}
				}
				th{
					font-size:15px;
				}
				td{
					&:nth-child(3){
						font-size: 18px;
						font-weight:200;
						color:$black-gray;
					}
				}
			}
		}
	}
}
/***************************/
/* 5. Request A Feature Details*/
/***************************/
.request_feature_details{
	.request_f_details_content{
		// Text section
		.details_text{
			position:relative;
			z-index:1;
			h3{
				color:$black-3939;
				font-size:21px;
				margin-bottom:0px;
			}
			.d_text_content{
				color:$gray-666;				
				p{
					margin-bottom:0;
				}
			}
			a{
				margin-top: 20px;
				font-size: 12px;
				text-decoration: underline;
				color: $blue-bold;
				font-weight:400;
				&:hover{
					color:$blue-light;
				}
			}
		}
		.bg_lightbulb{
			position: absolute;
			bottom: 135px;
			left: -155px;
			font-size: 450px;
			line-height: 1;
			color:rgba(188, 241, 255, 0.18);
		}

		// Customer profile
		.customerProfile_fr{
			background-image:url(../img/bg_images/request_feature.png);
			background-repeat:no-repeat;
			background-position: right 23%;
			background-color:$gray-light1;
			position:relative;
			&::after{
				content:'';
				width:40px;
				height:40px;
				background-color:rgba(214, 246, 255, 0.6);
				@include b-radius(50%);
				position:absolute;
				bottom:-15px;
				left:-15px;
			}
			.profile_pic_fr{
				img{
					width:130px;
					height:130px;
					padding:6px;
					object-fit: cover;
					background: linear-gradient(180deg, $blue-light 0%, $blue-bold 100%);
					@include b-radius(50%);
					margin:20px auto;
					display:block;					
				}
			}
			.c_name_fr{
				font-size:17px;
				font-weight:600;
			}
			.c_email_fr{
				color:$blue-bold;
			}
			.c_num_fr,.c_regDate_fr{
				font-weight:200;
				margin-bottom:0px;
				strong{
					font-weight:600;
				}
			}
			.c_date_time_fr {
				font-weight: 600;
				.mdi{
					font-size:22px;
					color:$blue-bold;
					line-height:1;
					position: relative;
					bottom: -3px;
				}
			}
		}
		// footer buttons
		.back_save_btn{
			font-size:15px;
		}
	}
}
/***************************/
/* 6. Document Templates*/
/***************************/
.document_templates{
	.content-inner{
		min-height:100vh;
	}
	.doc_temp_inner{
		background-color: $gray-light1;
		.search_box {
			max-width: 477px;
			width: 100%;
		}
		table{
			tr{
				th,td{				
					height: 63px;
					font-weight:300;
					font-size:15px;
					&:nth-child(1){
						width:72px;
					}
					&:nth-child(2){
						width: 26%;
					} 
					
					&:nth-child(3){
						width: 65%;
					} 
					&:nth-child(4),	&:nth-child(5){
						width:86px;
					}
				}
			}
		}
	}	
	.blue_btn{
		&:hover{
			color:$white-main;
		}
	}
}
/***************************/
/* 7. Document Templates Edit*/
/***************************/
.document_templatesEdit{
	.doc_alert_text{
		max-width:314px;
		width:100%;
		font-size:14px;
		color:$gray-7070;
		.icon_btn_blue{
			padding: 8px 10px;
			.mdi{
				font-size: 20px;
				padding-right: 0px;
			}
		}
	}
	.doc_text_editor{
		min-height: 635px;
		background-color: $gray-light1;		
	}
}

/***************************/
/* 8. Language Overview*/
/***************************/
.language_overview{
	.language_Ov_inner{
		background-color: $gray-light1;
		.search_box {
			max-width: 477px;
			width: 100%;
		}
		.langOv_table{
			table{
				tr{
					th,td{			
						&:nth-child(1){
							width:72px;
						}
						&:nth-child(2){
							width: 62%;
							font-size:18px;
						} 
						
						&:nth-child(3){
							width: 23%;
						} 
						&:nth-child(4),	&:nth-child(5){
							width:129px;
						}
					}
				}
			}
			.table_bottom .entries p {
				padding-left: 45px;
			}
		}
	}	
	.blue_btn{
		&:hover{
			color:$white-main;
		}
	}
}
/***************************/
/* 9. Language Edit/Add*/
/***************************/
.language_EditAdd{
	.content-inner{
		max-width:100%;
	}
	.languageEditAdd_inner{
		background-color: $gray-light1;
		.switch_icon .s_icon_area {
			input[type="checkbox"] ~ .switch_container .create_switch::after {
				top: 1.5px;
			}
			.s_text{
				font-size:15px;
				color: $black-3939;
				font-weight:300;
			}
		}
		.langNameCode{
			input{
				height: 31px;
				padding:5px 10px;
				background-color: $white-main !important;
				&::placeholder{
					color:rgba(0, 0, 0, 0.3);
				}
			}
			.langName {
				input{
					min-width:261px;
					width:100%;					
				}
			}
			.langCode {
				input{
					min-width:64px;
					width:64px;					
				}
			}
		}
		.search_box {
			max-width: 317px;
			width: 100%;
		}
		.langAddEdit_table{
			table{
				tr{
					th,td{
						overflow: hidden;	
						overflow-wrap: break-word;
						&:nth-child(1){
							width:15%;
						}
						&:nth-child(2){
							width: 25%;
						} 
						
						&:nth-child(3){
							width: 35%;
						} 
						&:nth-child(4){
							width:25%;
						}
					}
					td{	
						color:$black-main;							
						&:nth-child(1),&:nth-child(2){
							font-size:10px;
						}
					}
				}
				input{
					width:100%;
					border: 1px solid rgba(0, 0, 0, 0.2) !important;
					height:auto;
					min-height:55px;
					font-size:12px;
					font-weight:300;
				}				
			}
		}
	}
}
/***************************/
/* 10. System-Information*/
/***************************/
.system_information{
	.systemInfo_inner{
		.s_item_area{
			.s_item_group{
				.bg_icon_div{
					text-align:left;
					.bg_icon{
						top: 8px;
					}
					.bg_num{
						text-align:left;
						margin-left:10px;
						span{
							color:$black;
							font-weight:400;
						}
					}
					.bg_foot{
						font-size:14px;
					}
					&:nth-child(1){
						.bg_icon{
							top: -15px;
							left: -5px;
							font-size:100px;
						}
					}					
				}
			}
		}
		// Hardware Info
		.hardware_info.server_info{
			background-color: $white-main;
			.system_title{			
				font-size: 18px;
				font-family: $font-roboto;
				span{
					color: $green-light;
				}
			}
			.system_items{
				overflow: hidden;
				.sys_item{
					overflow: hidden;
					padding: 4px 0px;
					.sys_name{
						width:100px;
						padding-right:10px;
						font-size: 18px;
						color:$blue-bold;
					}
					.sys_bar_container{
						width: calc(100% - 160px);
						.sys_bar{
							width:100%;
							@include box-shadow(inset 0px 4px 4px rgba(0, 0, 0, 0.05));
							height:8px;
							@include b-radius(5px);
							margin-top: 9px;
							.sys_inner_bar{
								background-color: #E2AC42;
								height:8px;
								@include box-shadow(inset 0px 4px 4px rgba(0, 0, 0, 0.25));
								@include b-radius(5px 0px 0px 5px);
								&.cpu{
									background-color: #1BD12D;
								}
								&.storage-1{
									background-color: #E24242;
								}
								&.storage-2{
									background-color: #31C340;
								}
							}
						}
					}
					.sys_percent{
						width:60px;
						padding-left:20px;
						color:$gray-2;
						font-family: $font-roboto;
						font-size: 12px;
					}
				}
			}
		}	
		//System Info
		.system_info{
			.bg_icon_div {
				max-width:133px;
				.bg_icon {
					font-size: 100px;
					top: -29px;
				}
				.bg_num{
					left:10px;
				}
			}
		}
		//console Output
		.live_console{
			background-color: $gray-light1;
			padding:10px;
			h3{
				color:$black;
			}
			.console_refreshBtn{
				font-size:25px;
				color:$blue-light;
				@include transition-all(0.5s);
				&:hover{
					@include transform-rotate(360deg);
				}
			}
			.console_output {				
				padding:0px 10px;
				overflow-x: hidden;
				overflow-y: auto;
				height:885px;
				.console_text{	
					background-color: $white-main;				
					@include box-shadow(inset 1px 1px 9px rgba(0, 0, 0, 0.25));
					@include b-radius(5px);
					font-size:12px;
					overflow: hidden;
					p{
						margin-bottom:0px;
					}
				}
			}			
			.export_console{
				a{
					font-size:15px;
					color:$blue-bold;
					text-decoration:underline;
					display: inline-block;
				}
			}
		} 
	}
}
/***************************/
/* 11. API - Settings*/
/***************************/
.api_settings{
	.apiSettings_inner{
		max-width:908px;
		width:100%;
		.apiSet_item{
			&.blue_border{
				border: 1px solid rgba(66, 173, 226, 0.4);
			}
			h3{
				font-weight:600;
			}
			.collapseExpandBtn{
				background-color: $blue-opacity;
				width:28px;
				height:28px;
				line-height:28px;
				text-align:center;
				@include b-radius(50%);
				color:$blue-light;
				font-size:20px;
				@include transition-all(0.3s);
				@include transform-rotate(180deg);
				&.collapsed{
					@include transform-rotate(0deg);
				}
				.mdi{
					position: relative;
    				left: -2px;
				}
			}
			.api_inputFields{
				max-width:820px;
				width:100%;
				span{
					font-size:18px;
				}
				.nice-select.gray_select{
					height:46px;
					max-width:212px;
					width:100%;
					font-size:15px;
					line-height: 46px;
					span{
						font-size:15px;
					}
					&.open, &:active, &:focus, &:hover{
						border: solid 1px $blue-light;		
					}
					.list {
						box-shadow: 0 0 0 1px $blue-light;
					}
				}
				input{
					max-width:482px;
					width:100%;
					color:$black;
					&.googleAPI_ID{
						max-width:157px;
					}
					&.googleClientKey{
						max-width:100%;
					}
					&.input_w_391{
						max-width:391px;
					}
				}
			}
		}
	}
}

/***************************/
/* 12. System - Settings*/
/***************************/
.system_settings{
	h6{
		font-size:14px;
	}
	// All Inputs Here
	.sys_inputs{
		// website title
		&.web_title{
			input{
				max-width:326px;
				width:100%;
			}
		}
		// website description
		&.web_desc{
			textarea{
				max-width:557px;
				width:100%;
				height:100px;
				overflow-x:hidden;
				overflow-y:auto;
				resize:none;
				&::placeholder{
					color:$placeholder;
					font-weight:300;
				}
			}
		}
		// website keyword
		&.web_tag{
			.key_input_wrapper,.key_input_wrapper input{
				background-color: $gray-light1;
				max-width: 552px;
				height:37px;
				width:100%;
				@include b-radius(5px);
				position:relative;				
			}			
			.key_input_wrapper{
				input{
					padding-right:110px;
					&::placeholder{
						color:$placeholder;
						font-weight: 300;
						font-size:15px;
					}
				}
				// add tag/keyword input
				.add_tag{
					position:absolute;
					padding:3px 15px;
					background-color: $blue-light;
					font-size:12px;
					color:$white-main;
					right:10px;
					top:7px;
					@include b-radius(5px);
				}
			}
			// website kewords/tags
			.tags-area{
				font-size:12px;
				color:$black;
				font-weight: 300;
				.tag-item{
					min-width:130px;
					height:36px;
					background-color: #E3F6FF;
					display: inline-block;
					text-align: center;
					padding: 0px 15px 0px 8px;
					line-height: 36px;
					@include b-radius(5px);
					margin:4px 6px 4px 0px;
					&:last-child{
						margin-right:0px;
					}
					.close{
						padding: 8px 5px;
    					font-size: 18px;
					}
				}
			}
		}
		// web logo Big size
		&.web_logo_big{
			.logo_container{
				max-width:557px;
				width:100%;
				min-height:127px;
				background-color: $gray-light1;
				padding:20px 10px 5px 10px;
				.logo_preview{
					img{
						background-color: $white-main;
					}
				}
				.input_file,.showLogoText{
					margin-bottom:0px;
					font-size:12px;
				}
				.showLogoText{
					font-weight:400;
					.logoText{
						font-weight: 300;
					}
				}
				.input_file{
					@include b-radius(5px);
					background-color: $blue-light;
					color:$white-main;
					padding:0px 10px;
					height: 25px;
					min-width:100px;
					text-align:center;
					line-height: 25px;					
					cursor: pointer;
					input[type="file"]{
						appearance: none;
						display:none;
					}
				}
			}
		}
		// web logo Small size
		&.web_logo_small{			
			max-width:314px;
			width:100%;
			.logo_container{
				min-height: 287px;
				background-color: $gray-light1;
				padding:20px 10px 5px 10px;
				.logo_preview{
					max-width:208px;
					width:100%;
					img{
						background-color: $white-main;
						padding:10px;
						margin:0 auto;
					}
				}
				.input_file,.showLogoText{
					margin-bottom:0px;
					font-size:12px;
				}
				.showLogoText{
					font-weight:400;
					.logoText{
						font-weight: 300;
					}
				}
				.input_file{
					@include b-radius(5px);
					background-color: $blue-light;
					color:$white-main;
					padding:0px 10px;
					height: 25px;
					min-width:100px;
					text-align:center;
					line-height: 25px;					
					cursor: pointer;
					input[type="file"]{
						appearance: none;
						display:none;
					}
				}
			}
		}
		// Footer of the Follow-Up E-Mails
		&.followUpEmail{
			.emailTextarea{
				max-width:650px;
				width:100%;
				min-height:265px;
				resize:none;
				color:$black;
				font-size:15px;
				font-family: $font-roboto;
				&::placeholder{
					color:$placeholder;
					font-size:15px;
					font-weight: 500;
					font-family: $font-roboto;
				}
			}
		}
	}
	.maintenance_alert{
		background-color: rgba(255, 77, 77, 0.15);
		position:relative;
		max-width:435px;
		width:100%;
		.img_alert{
			position:absolute;
			top:-22px;
			left:-22px;
			width:64px;
		}
		p{
			font-size:14px;
		}
		.checkbox-container{
			font-size:15px;
			max-width: 224px;
			width:100%;
		}
	}
}
/***************************/
/* 13. E-mail Settings*/
/***************************/
.email_settings{
	.content-inner{
		max-width:1245px;
	}
	.emSet_inputs{
		width:100%;
		input{
			width:100%;
		}
		&.senderEmail,&.acName{
			max-width:326px;
		}
		&.senderName{
			max-width:365px;
		}
		&.acPassword,&.smtpServer{
			max-width:252px;
		}
		&.smtpPOrt{
			max-width:124px;
		}
	}
	.sendExample{
		max-width:233px;
		width:100%;
		min-height:135px;
		background-color: $gray-light1;
		padding:10px;
		text-align:center;
		overflow: hidden;
    	overflow-wrap: break-word;
		p{
			font-weight: 300;
			font-size: 14px;
			line-height: 19px;
			margin-bottom:5px;
			color: #707070;
		}
		.icon_btn_blue{
			padding: 7px 21px;
			.mdi{
				font-size: 19px;
    			padding-right: 5px;
			}
		}
	}
}
/***************************/
/* 14. E-mail Templates*/
/***************************/

.email_templates{
	.email_temp_inner{
		background-color: $gray-light1;
		.search_box {
			max-width: 477px;
			width: 100%;
		}
		.nice-select.emailTempHeaderSelect{
			width:232px;			
		}
		table{
			tr{
				th,td{			
					font-weight:300;
					font-size:15px;
					&:nth-child(1){
						width:72px;
					}
					&:nth-child(2){
						width: 36%;
					} 
					
					&:nth-child(3){
						width: 55%;
					} 
					&:nth-child(4),	&:nth-child(5){
						width:86px;
					}
				}
				td{
					&:nth-child(2){
						text-align: left;
					}
					&:nth-child(3){
						font-weight: 200;
						font-size: 12px;
						line-height: 16px;
						color: #565656;
						text-align: left;
					}
				}
			}
		}
	}	
	.blue_btn{
		&:hover{
			color:$white-main;
		}
	}
}
/*==============Responsive CSS===============*/
@import "./_responsive.scss";