/**
===============indexing section serial number here===========
0.      Reset Code 
0.1.    Common Classes
0.2.    Sidebar & Menu bar
1.      Dashboard
2.      Target Group Dashboard

**/
/***************************/
/* Reset code */
/***************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #393939;
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-size: 18px;
  color: #000000;
}

header, main, section, aside, article, footer {
  display: block;
}

button, input, textarea, select, input:focus, textarea:focus, button:focus, select:focus, .btn, .btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-width: 0 !important;
}

input[type="text"]:focus {
  border-width: 1px !important;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, textarea, select {
  background-color: #FAFAFA !important;
}

/***************************/
/* 0.1. common classes */
/***************************/
.content-container {
  max-width: 1700px;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}

.content-container .preloader-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 9;
}

.content-container .preloader-js .preloader-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-container .preloader-js .preloader-area .preloader_img img {
  animation: preloadRotate 750ms 300ms infinite;
  -webkit-animation: preloadRotate 750ms 300ms infinite;
  width: 100px;
  height: 100px;
}

.content-container .content-inner {
  max-width: 1121px;
  width: 100%;
  margin: auto;
  padding: 40px 20px;
}

@-webkit-keyframes preloadRotate {
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

@keyframes preloadRotate {
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

.b-r-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.b-r-8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.b-r-50 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

[class*="btn-"], [class*="-btn"], button {
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
}

.scale_hover_half {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.scale_hover_half:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.scale_hover_1 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.scale_hover_1:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.scale_hover_2 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.scale_hover_2:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.t_shadow_scale_1 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.t_shadow_scale_1:hover {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.t_shadow_scale_2 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.t_shadow_scale_2:hover {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.z-index-1 {
  z-index: 1;
}

.line-through {
  text-decoration: line-through;
}

.blue_border {
  border: 1px solid #BCF1FF;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.blue_border h3 {
  color: #393939;
  font-size: 18px;
}

/*Background Icon with Text Data*/
.bg_icon_div {
  max-width: 155px;
  width: 100%;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.bg_icon_div .bg_icon {
  color: #BCF1FF;
  font-size: 70px;
  position: absolute;
}

.bg_icon_div .bg_icon .mdi-link-variant {
  position: relative;
  left: 15px;
}

.bg_icon_div .bg_num, .bg_icon_div .bg_foot {
  position: relative;
  z-index: 1;
}

.bg_icon_div .bg_num {
  font-size: 30px;
  top: 50px;
}

.bg_icon_div .bg_num span {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.bg_icon_div .bg_foot {
  margin-top: 50px;
}

/*========= chart.js common style ======*/
.chart_container {
  border: 1px solid #BCF1FF;
  padding: 20px 10px 0px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chart_container h3 {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #393939;
  font-size: 18px;
}

ul.pieLegend {
  padding: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.pieLegend li {
  max-width: 205px;
  width: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

ul.pieLegend li:hover {
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
}

ul.pieLegend li span.rec_Lgnd {
  margin-right: 5px;
  width: 17px;
  min-width: 17px;
  height: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

ul.pieLegend li p {
  font-size: 12px;
  position: relative;
  top: -2px;
}

ul.pieLegend li p span.chart-data {
  font-size: 9px;
  margin-top: 3px;
}

/*Chart Js additional data remove*/
ul.pieLegend li:not(.anjon) {
  display: none !important;
}

/*==========Full Screen Icon Design=========*/
.full-screen-wrap {
  min-width: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.full-screen-wrap .fs-bar {
  width: 2px;
  height: 8px;
  background: mintcream;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.full-screen-wrap .fs-bar.top-left-horiz, .full-screen-wrap .fs-bar.top-right-horiz, .full-screen-wrap .fs-bar.bottom-left-horiz, .full-screen-wrap .fs-bar.bottom-right-horiz {
  width: 8px;
  height: 2px;
}

.full-screen-wrap .fs-bar.top-left, .full-screen-wrap .fs-bar.top-left-horiz {
  top: 0;
  left: 0;
}

.full-screen-wrap .fs-bar.top-right, .full-screen-wrap .fs-bar.top-right-horiz {
  top: 0;
  right: 0;
}

.full-screen-wrap .fs-bar.bottom-left, .full-screen-wrap .fs-bar.bottom-left-horiz {
  bottom: 0;
  left: 0;
}

.full-screen-wrap .fs-bar.bottom-right, .full-screen-wrap .fs-bar.bottom-right-horiz {
  bottom: 0;
  right: 0;
}

.full-screen-wrap .fs-bar.animMoveDown {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.full-screen-wrap .fs-bar.animMoveUp {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.full-screen-wrap .fs-bar.animMoveLeft {
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.full-screen-wrap .fs-bar.animMoveRight {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

.bottom-bar {
  width: 100%;
  background: #34495e;
  height: 60px;
  position: relative;
  bottom: 0;
}

/*==========End of Full Screen Icon Design=========*/
/****Custom Scroll Bar Design*****/
.custom-scroll-bar::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(17, 17, 17, 0.445);
          box-shadow: inset 0 0 4px rgba(17, 17, 17, 0.445);
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(1, 13, 19, 0.644);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(11, 61, 87, 0.808);
}

/*****Header Menu*****/
#headerMenu {
  background-color: #002D4A;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

#headerMenu .site-logo {
  max-width: 300px;
  width: 100%;
  padding-left: 35px;
}

#headerMenu .site-logo img {
  max-width: 100%;
}

#headerMenu .h-82 {
  height: 82px;
}

#headerMenu .h-icons {
  margin-right: 42px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  right: 0px;
  bottom: 0px;
}

#headerMenu .h-icons:hover {
  right: -3px;
  bottom: -3px;
}

#headerMenu .h-icons:last-child {
  margin-right: 0;
}

#headerMenu .h-icons.menu_bar_icon {
  width: 25px;
  height: 25px;
}

#headerMenu .h-icons.menu_bar_icon .hambarger {
  height: 2px;
  width: 21px;
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#headerMenu .h-icons.menu_bar_icon .hambarger::before, #headerMenu .h-icons.menu_bar_icon .hambarger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 21px;
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#headerMenu .h-icons.menu_bar_icon .hambarger::before {
  top: -8px;
}

#headerMenu .h-icons.menu_bar_icon .hambarger::after {
  top: 8px;
}

#headerMenu .h-icons.menu_bar_icon.active .hambarger {
  background-color: rgba(0, 0, 0, 0);
}

#headerMenu .h-icons.menu_bar_icon.active .hambarger::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#headerMenu .h-icons.menu_bar_icon.active .hambarger::after {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

#headerMenu .h-icons2 {
  padding-left: 42px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
  top: 0;
}

#headerMenu .h-icons2:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  top: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#headerMenu .h-icons2:hover img, #headerMenu .h-icons2:hover i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#headerMenu .h-icons2:first-child {
  padding-left: 0px;
}

#headerMenu .h-icons2 .icon-mdi {
  font-size: 25px;
  line-height: 0;
}

#headerMenu .profile-photoss .logout-icon {
  bottom: 0px;
  right: -10px;
}

#headerMenu .profile-photoss .logout-icon .lgt_icons {
  background-color: #0C4266;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#headerMenu .profile-photoss .logout-icon .lgt_icons.looping {
  -webkit-animation: rotate 750ms 300ms infinite;
          animation: rotate 750ms 300ms infinite;
}

#headerMenu .profile-photoss .profile_pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#headerMenu .profile-photoss .profile_pic img:hover {
  border: 2px solid #002D4A;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

/*****Body Items*****/
#bodyItem {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FAFAFA;
  /*category side bar*/
}

#bodyItem .sidebar_nav {
  min-width: 250px;
  width: 250px;
  overflow-x: hidden;
  margin-left: -250px;
  margin-top: 82px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#3489B3), to(#115A8A));
  background: linear-gradient(180deg, #3489B3 0%, #115A8A 100%);
  color: transparent;
}

#bodyItem .sidebar_nav.nav-active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 0;
}

#bodyItem .sidebar_nav #navAccordion {
  color: rgba(255, 255, 255, 0.9);
}

#bodyItem .sidebar_nav #navAccordion .item-header {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 55px;
  background-color: #002D4A;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#bodyItem .sidebar_nav #navAccordion .item-header .nav_item_title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
}

#bodyItem .sidebar_nav #navAccordion .item-header .carret-icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#bodyItem .sidebar_nav #navAccordion .item-header .icon-mdi {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

#bodyItem .sidebar_nav #navAccordion .item-header::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0px;
  left: 0;
  opacity: 0.3;
  background-color: #115A8A;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: -1;
}

#bodyItem .sidebar_nav #navAccordion .item-header:hover::before {
  width: 100%;
  opacity: 1;
}

#bodyItem .sidebar_nav #navAccordion .item-header.collapsed {
  background-color: #42ADE2;
}

#bodyItem .sidebar_nav #navAccordion .item-header.collapsed .carret-icon {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#bodyItem .sidebar_nav #navAccordion .itemss li a {
  font-size: 15px;
  margin-top: 15px;
  display: inline-block;
  position: relative;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#bodyItem .sidebar_nav #navAccordion .itemss li a:hover {
  color: #ffffff;
  left: 8px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#bodyItem .sidebar_nav #navAccordion .itemss li::before {
  content: "\2022";
  color: #42ADE2;
  font-weight: bold;
  display: inline-block;
  width: 13px;
  margin-left: -10px;
  vertical-align: text-bottom;
}

#bodyItem .sidebar_nav #navAccordion .nav_foot_content {
  margin-top: 160px;
}

#bodyItem .sidebar_nav #navAccordion .nav_foot_content .short-logo {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #002D4A;
  text-align: center;
  line-height: 115px;
  box-shadow: 0px 4px 24px rgba(0, 45, 74, 0.6);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 45, 74, 0.6);
  -moz-box-shadow: 0px 4px 24px rgba(0, 45, 74, 0.6);
  -ms-box-shadow: 0px 4px 24px rgba(0, 45, 74, 0.6);
  -o-box-shadow: 0px 4px 24px rgba(0, 45, 74, 0.6);
}

#bodyItem .sidebar_nav #navAccordion .nav_foot_content .short-logo:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#bodyItem .sidebar_nav #navAccordion .nav_foot_content .up_link {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#bodyItem .sidebar_nav #navAccordion .nav_foot_content .up_link:hover {
  color: #ffffff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#bodyItem .main_item {
  width: 100%;
  background-color: #FAFAFA;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#bodyItem .main_item.main_item-active {
  width: calc(100% - 250px);
}

#bodyItem .main_item .body-header-content {
  margin-top: 82px;
}

#bodyItem .main_item .body-header-content .bh_title {
  font-size: 24px;
}

#bodyItem .main_item .body-header-content .info-icons img {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#bodyItem .main_item .body-header-content .info-icons img:hover {
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3) !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#bodyItem .main_item .body-header-content p {
  font-size: 15px;
}

/***************************/
/* 1. Dashboard */
/***************************/
#bodyItem .main_item.dashboard {
  background: url(../img/bg_images/dashboard_effect_1.png), url(../img/bg_images/dashboard_effect_2.png);
  background-position: right 41%, 60px bottom;
  background-repeat: no-repeat,no-repeat;
  background-color: #115A8A;
  min-height: 100vh;
}

#bodyItem .main_item.dashboard h2 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.dashboardItem.content-container {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

.dashboardItem .content-inner {
  max-width: 1109px;
  padding: 20px;
}

.dashboardItem .d_item_header a {
  color: #3489B3;
  text-decoration: underline;
  font-size: 12px;
  padding-left: 10px;
}

.dashboardItem .profile_card {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  max-width: 416px;
  min-height: 216px;
  width: 100%;
  box-shadow: -3px 3px 6px -1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -3px 3px 6px -1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: -3px 3px 6px -1px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: -3px 3px 6px -1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: -3px 3px 6px -1px rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2;
}

.dashboardItem .profile_card * {
  color: rgba(255, 255, 255, 0.9);
}

.dashboardItem .profile_card .p_title {
  font-size: 18px;
}

.dashboardItem .profile_card .icon-mdi {
  font-size: 25px;
  margin-top: -6px;
}

.dashboardItem .profile_card .profile_pic_d img {
  width: 92px;
  height: 92px;
  border: 2px solid #3489B3;
  display: block;
}

.dashboardItem .profile_card .profile_info_d p {
  font-size: 18px;
}

.dashboardItem .profile_card .profile_info_d p span {
  font-weight: bold;
}

.dashboardItem .profile_card .profile_info_d .name_d {
  font-size: 22px;
}

.dashboardItem .profile_card .profile_info_d .email_d {
  font-size: 13px;
}

.dashboardItem .profile_card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#42ADE2), to(#115A8A));
  background: linear-gradient(180deg, #42ADE2 0%, #115A8A 100%);
  z-index: -1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dashboardItem .profile_card::after {
  content: '';
  background-color: #D6F6FF;
  opacity: 0.7;
  width: 39px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0;
  right: -16px;
  transform: translate(0%, -44%);
  -webkit-transform: translate(0%, -44%);
  -moz-transform: translate(0%, -44%);
  -ms-transform: translate(0%, -44%);
  -o-transform: translate(0%, -44%);
  z-index: -2;
}

.dashboardItem .c_service {
  background-color: #ffffff;
  min-height: 216px;
  max-width: 656px;
  width: 100%;
}

.dashboardItem .c_service .cs_items {
  padding: 10px 30px;
}

.dashboardItem .c_service .cs_items [class*="col-"]::after {
  content: '';
  width: 2px;
  height: 96px;
  display: inline-block;
  background-color: #C4C4C4;
  position: absolute;
  right: 10px;
  top: 0;
}

.dashboardItem .c_service .cs_items [class*="col-"]:last-child::after {
  width: 0px;
}

.dashboardItem .c_service .cs_items .cs_item .icon-bg {
  font-size: 75px;
  color: #BCF1FF;
  line-height: 1;
  margin-left: -10px;
}

.dashboardItem .c_service .cs_items .cs_item p {
  text-align: center;
  font-size: 18px;
  padding-right: 15px;
}

.dashboardItem .c_service .cs_items .cs_item p span {
  font-size: 28px;
}

.dashboardItem .c_service .cs_items .cs_item p.nc_item {
  color: #000000;
  text-align: center;
  margin-top: -38px;
}

.dashboardItem .c_service .cs_items .cs_item p.fcs {
  font-size: 15px;
}

.dashboardItem .latest_transection {
  background-color: #ffffff;
  min-height: 547px;
  max-width: 416px;
  width: 100%;
}

.dashboardItem .latest_transection table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.dashboardItem .latest_transection table tbody tr td {
  background: #FAFAFA;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 7px;
  height: 35px;
  border: 4px solid #ffffff;
  font-size: 15px;
}

.dashboardItem .latest_transection table tbody tr td .pic_small {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.dashboardItem .latest_transection table tbody tr td:first-child {
  width: calc(100% - 110px);
  text-align: left;
}

.dashboardItem .latest_transection table tbody tr td:last-child {
  width: 110px;
}

.dashboardItem .latest_transection table tbody tr:hover td {
  background-color: #BCF1FF;
}

.dashboardItem .daily_sales, .dashboardItem .user_growth {
  background-color: #ffffff;
  min-height: 264px;
  max-width: 351px;
  width: 100%;
  position: relative;
}

.dashboardItem .daily_sales .ds_icon_bg, .dashboardItem .daily_sales .ug_icon_bg, .dashboardItem .user_growth .ds_icon_bg, .dashboardItem .user_growth .ug_icon_bg {
  font-size: 265px;
  position: absolute;
  color: rgba(188, 241, 255, 0.18);
  left: 10px;
  top: -65px;
}

.dashboardItem .daily_sales .ds_itmes, .dashboardItem .user_growth .ds_itmes {
  position: relative;
  z-index: 1;
  margin-top: 35px;
}

.dashboardItem .daily_sales .ds_itmes .ds_percent, .dashboardItem .user_growth .ds_itmes .ds_percent {
  font-size: 100px;
  color: #115A8A;
  line-height: 1;
}

.dashboardItem .daily_sales .ds_itmes .ds_percent span, .dashboardItem .user_growth .ds_itmes .ds_percent span {
  font-size: 50px;
  margin-left: -10px;
}

.dashboardItem .daily_sales .ds_itmes .ds_up, .dashboardItem .user_growth .ds_itmes .ds_up {
  color: #42ADE2;
  font-size: 18px;
  line-height: 1;
}

.dashboardItem .daily_sales .ds_ftr, .dashboardItem .daily_sales .ug_ftr, .dashboardItem .user_growth .ds_ftr, .dashboardItem .user_growth .ug_ftr {
  font-size: 10px;
  color: #A3A3A3;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  z-index: 1;
  padding: 0px 10px;
  text-align: center;
}

.dashboardItem .user_growth {
  max-width: 267px;
  width: 100%;
}

.dashboardItem .user_growth .ug_icon_bg {
  font-size: 180px;
  left: auto;
  top: auto;
  bottom: -83px;
  right: -7px;
}

.dashboardItem .user_growth .ug_itmes {
  position: relative;
  z-index: 1;
  max-width: 180px;
  width: 100%;
  margin: 0px auto 10px auto;
}

.dashboardItem .user_growth .ug_itmes .ug_circle {
  width: 100%;
  padding: 0;
  padding-top: calc(100% - 16px);
  border: 8px solid #BCF1FF;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 70px;
  color: #115A8A;
}

.dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent span {
  display: inline-block;
}

.dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent .prct, .dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent .mdi {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent .mdi {
  font-size: 35px;
  color: #42ADE2;
  left: -25px;
}

.dashboardItem .user_growth .ug_itmes .ug_circle .ug_percent .prct {
  font-size: 35px;
  right: -29px;
  padding-top: 22px;
}

.dashboardItem .server_info {
  background-color: #ffffff;
  min-height: 271px;
  max-width: 657px;
  width: 100%;
}

.dashboardItem .server_info .system_title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.dashboardItem .server_info .system_title span {
  color: #67cf72;
}

.dashboardItem .server_info .system_items {
  overflow: hidden;
}

.dashboardItem .server_info .system_items .sys_item {
  overflow: hidden;
  padding: 4px 0px;
}

.dashboardItem .server_info .system_items .sys_item .sys_name {
  width: 100px;
  padding-right: 10px;
  font-size: 18px;
  color: #115A8A;
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container {
  width: calc(100% - 160px);
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container .sys_bar {
  width: 100%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 9px;
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container .sys_bar .sys_inner_bar {
  background-color: #E2AC42;
  height: 8px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container .sys_bar .sys_inner_bar.cpu {
  background-color: #1BD12D;
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container .sys_bar .sys_inner_bar.storage-1 {
  background-color: #E24242;
}

.dashboardItem .server_info .system_items .sys_item .sys_bar_container .sys_bar .sys_inner_bar.storage-2 {
  background-color: #31C340;
}

.dashboardItem .server_info .system_items .sys_item .sys_percent {
  width: 60px;
  padding-left: 20px;
  color: #9B9B9B;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/***************************/
/* 2. Target Group Dashboard | chart.js */
/***************************/
.target_group_sec.content-container .content-inner {
  max-width: 1190px;
}

.target_group_sec .age_chart_container > p {
  font-size: 14px;
  color: #A3A3A3;
  padding-left: 10px;
  padding-bottom: 10px;
}

.target_group_sec .age_chart_container .age_target {
  height: 400px;
}

.target_group_sec .age_chart_container .bottom_text {
  font-size: 9px;
  color: #A3A3A3;
  max-width: 80px;
  width: 100%;
  margin-left: auto;
  text-align: right;
  top: -11px;
  position: relative;
  margin-top: -16px;
}

.target_group_sec .sub_can_container {
  overflow: hidden;
}

.target_group_sec .sub_can_container.chart_container h3 {
  font-size: 14px;
}

.target_group_sec .sub_can_container .chart_sub_cancel {
  height: 300px;
}

.target_group_sec .sub_can_container .chart_SC_legend {
  margin-top: 20px;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(5) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(3) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.target_group_sec .sub_can_container .chart_SC_legend ul.pieLegend li:nth-child(1) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.target_group_sec .dist_net_chart_container p {
  color: #A3A3A3;
  font-size: 9px;
  max-width: 48px;
  width: 100%;
  position: relative;
  margin-bottom: -10px;
  padding: 14px 0px;
  left: -3px;
}

.target_group_sec .dist_net_chart_container .dist_net {
  height: 290px;
  padding-left: 10px;
}

.target_group_sec .payment_chart_container .payment_method {
  height: 300px;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(5) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(3) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.target_group_sec .payment_chart_container .p_method_legend ul.pieLegend li:nth-child(1) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.target_group_sec .dist_chart_container2 p {
  color: #A3A3A3;
  font-size: 9px;
  max-width: 58px;
  width: 100%;
  position: relative;
  margin-bottom: -11px;
  padding: 14px 0px;
}

.target_group_sec .dist_chart_container2 .dist_net2 {
  height: 350px;
  padding-left: 10px;
}

/*==============Responsive CSS===============*/
/***************************/
/*********MEDIA QUERY*******/
/***************************/
/* 1080px height like 1200x1080 & 1500 to 1920 x 1080px*/
/** min Width 1600px for 1920px**/
/*Laptop*/
@media (max-width: 1366px) {
  .target_group_sec .age_chart_container .age_target {
    height: 300px;
  }
  .target_group_sec .sub_can_container.chart_container h3 {
    font-size: 14px;
  }
  .target_group_sec .sub_can_container .chart_sub_cancel {
    height: 209px;
  }
  .target_group_sec .sub_can_container .chart_SC_legend {
    margin-top: 0px;
  }
  ul.pieLegend {
    margin-bottom: 10px;
  }
}

/*Medium devices (laptop, less than 1300px)*/
@media (max-width: 1350px) {
  #headerMenu .site-logo {
    padding-left: 20px;
  }
  #headerMenu .site-logo img {
    padding-right: 20px;
  }
  #headerMenu .h-icons {
    margin-right: 20px;
  }
  #headerMenu .h-icons2 {
    padding-left: 20px;
    font-size: 12px;
  }
  .dashboardItem .profile_card .profile_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .dashboardItem .profile_card .profile_content .profile_pic_d {
    margin: 0px auto 10px auto;
  }
  .dashboardItem .daily_sales .ds_icon_bg {
    font-size: 240px;
  }
}

@media (max-width: 1199px) {
  .site-logo {
    width: 210px;
  }
  .site-logo img {
    max-width: 100%;
  }
  .dashboardItem .profile_card .profile_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .dashboardItem .profile_card .profile_content .profile_pic_d {
    margin: 0px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
  #headerMenu {
    height: 150px;
  }
  #bodyItem .sidebar_nav {
    margin-top: 150px;
  }
  #bodyItem .main_item .body-header-content {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  #bodyItem .sidebar_nav {
    margin-left: 0;
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    -webkit-box-shadow: 9px 0px 12px -2px rgba(0, 0, 0, 0.5);
            box-shadow: 9px 0px 12px -2px rgba(0, 0, 0, 0.5);
  }
  #bodyItem .sidebar_nav.nav-active {
    margin-left: -250px;
    opacity: 0;
    color: transparent;
  }
  #bodyItem .main_item {
    margin-left: 0px;
  }
  #bodyItem .main_item.main_item-active {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 575px) {
  #headerMenu {
    height: 180px;
  }
  #headerMenu .h-icons2 {
    padding-left: 15px;
    font-size: 2.8vw;
  }
  #headerMenu .h-icons2:first-child {
    padding-left: 0;
  }
  #headerMenu .profile-photoss .user-name {
    font-size: 14px;
  }
  #bodyItem .sidebar_nav {
    margin-top: 180px;
  }
  #bodyItem .main_item .body-header-content {
    margin-top: 180px;
  }
}

@media (max-width: 400px) {
  .dashboardItem .profile_card .profile_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .dashboardItem .profile_card .profile_content .profile_pic_d {
    margin: 0px auto 10px auto;
  }
}
/*# sourceMappingURL=main.css.map */